# Introducción
En este Notebook aprenderemos las operaciones básicas más utilizadas en PySpark, incluyendo un ejercicio práctico en el que realizaremos una pequeña ETL para extraer unos datos desde una API y los volcaremos en el catálogo de datos de Spark.

# Importación de módulos requeridos
En primer lugar necesitamos importar las funciones y objetos requeridos para la implementación.

- `SparkSession`: objeto necesario para la interacción con la herramienta de Spark a través de Python.
- `pyspark.sql.functions`: funciones de SQL que ofrece pyspark, necesarias para las transformaciones de los datos en la ETL.
- `fetch_api, save_json`: estas funciones están definidas dentro de nuestra propia librería llamada `blackops`. Contienen el código necesario para extraer y almacenar los datos de la API.
- `date, timedelta`: funciones para crear objetos de tipo fecha y timestamp dentro de Python.
- `random`: módulo utilizado para la generación de datos aleatorios.
- `DeltaTable`: objeto para interaccionar con tablas de tipo Delta. Se trata de un formato ampliamente utilizado en Spark, que ofrece muchas funcionalidades añadidas a nuestro catálogo de datos, como por ejemplo la posibilidad de revertir cambios.

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
from blackops.crawlers.wallapop.functions import fetch_api, save_json
from datetime import date, timedelta
import random
from delta import DeltaTable

Establecemos una semilla para la generación de números aleatorios. De esta manera, los resultados serán reproducibles

In [2]:
random.seed(45)

# Inicialización de la sesión de Spark

Establecemos ahora la comunicación con el motor de Spark desde Python, a través del objeto `SparkSession` de la librería `pyspark`.

En este caso de prueba no estamos utilizando un clúster, sino que haremos uso de una arquitectura local. El propio Jupyter Notebook ejercerá como Driver, como Master y como Ejecutor de las tareas.

Adicionalmente, estamos instalando dependencias externas como la librería Delta, que incorpora utilidades muy importantes para el manejo de las tablas en nuestro catálogo de datos (histórico de versiones de tablas, omisión de ficheros innecesarios en la lectura, etc.)

In [3]:
spark = (
    SparkSession.Builder()
    .master("local[*]")
    .config(
        map={
            "spark.driver.memory": "8g",
            "spark.jars.packages": "io.delta:delta-spark_2.12:3.2.0",
            "spark.sql.extensions": "io.delta.sql.DeltaSparkSessionExtension",
            "spark.sql.catalog.spark_catalog": "org.apache.spark.sql.delta.catalog.DeltaCatalog",
            "spark.databricks.delta.retentionDurationCheck.enabled": "false",
            "spark.sql.catalogImplementation": "hive",
            "spark.sql.repl.eagerEval.enabled": "true",
        }
    )
    .getOrCreate()
)

24/09/27 20:51:12 WARN Utils: Your hostname, pop-os resolves to a loopback address: 127.0.1.1; using 192.168.1.40 instead (on interface enp3s0)
24/09/27 20:51:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Ivy Default Cache set to: /home/dadiego/.ivy2/cache
The jars for the packages stored in: /home/dadiego/.ivy2/jars
io.delta#delta-spark_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-428a4bd4-8266-4cdf-b070-bd9901676959;1.0
	confs: [default]

:: loading settings :: url = jar:file:/home/dadiego/projects/ESIC/esic-bigdata-iv-blackops/.venv/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

	found io.delta#delta-spark_2.12;3.2.0 in central
	found io.delta#delta-storage;3.2.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
:: resolution report :: resolve 108ms :: artifacts dl 5ms
	:: modules in use:
	io.delta#delta-spark_2.12;3.2.0 from central in [default]
	io.delta#delta-storage;3.2.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-428a4bd4-8266-4cdf-b070-bd9901676959
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/4ms)
24/09/27 20:51:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Una vez se ha inicializado la sesión, podemos acceder a la web `localhost:4040` para consultar la interfaz de administración que ofrece Spark. Allí, se podrá monitorizar las tareas que se mandan desde el Driver.

**Nota**: Si al inicializar la sesión de Spark obtenemos algún error en el que se nos indica que la variable `JAVA_HOME` no existe, lo más probable es que no tengamos instalado Java en nuestro sistema, y necesitamos instalarlo ya que Spark depende de Java para su funcionamiento. Para ello, en Linux podemos utilizar el gestor de paquetes: `sudo apt update && sudo apt install openjdk-17-jdk -y`.

# Creación de un DataFrame de Spark

En Spark podemos crear directamente un Dataframe a partir de una lista de datos, o bien de un Dataframe de pandas. Para ello se puede utilizar el método `spark.createDataFrame`.
Debemos especificar tanto los datos como el esquema que tiene el Dataframe (sus columnas y sus tipos).

En este caso hacemos uso del paquete `random` para generar datos aleatorios (pero reproducibles, al haber establecido una semilla).

In [4]:
# Podemos especificar el esquema del DataFrame usando una cadena de texto
schema = "id INT, nombre STRING, edad INT, salario FLOAT, es_empleado BOOLEAN, fecha_contratacion DATE, departamento STRING"

# Crear una lista de datos ficticios
nombres = [
    "Juan",
    "María",
    "Pedro",
    "Ana",
    "Luis",
    "Carla",
    "Miguel",
    "Sara",
    "David",
    "Laura",
]
departamentos = ["Ventas", "Marketing", "Finanzas", "IT", "RRHH"]

data = [
    (
        i,  # id
        random.choice(nombres),  # nombre
        random.randint(22, 60),  # edad
        round(random.uniform(20000, 80000), 2),  # salario
        random.choice([True, False]),  # es_empleado
        date(2024, 10, 1)
        - timedelta(days=random.randint(0, 3650)),  # fecha_contratacion
        random.choice(departamentos),  # departamento
    )
    for i in range(1, 31)  # Genera 30 registros aleatorios
]

# Crear el DataFrame usando el esquema en string
df = spark.createDataFrame(data, schema)

# Mostramos el DataFrame resultante por pantalla
display(df)

+---+------+----+--------+-----------+------------------+------------+
| id|nombre|edad| salario|es_empleado|fecha_contratacion|departamento|
+---+------+----+--------+-----------+------------------+------------+
|  1|  Luis|  48|49281.69|       true|        2021-05-09|    Finanzas|
|  2|  Juan|  26|49055.36|       true|        2021-07-27|      Ventas|
|  3|  Luis|  24|73947.68|       true|        2023-03-28|    Finanzas|
|  4| Pedro|  35|79554.92|      false|        2023-11-29|        RRHH|
|  5|Miguel|  31|62027.07|       true|        2022-10-27|    Finanzas|
|  6|  Luis|  44|66505.58|      false|        2023-09-13|          IT|
|  7| María|  23|65070.76|      false|        2015-12-18|          IT|
|  8| David|  56|72059.12|      false|        2018-02-06|      Ventas|
|  9|  Sara|  45|74705.86|      false|        2023-01-02|      Ventas|
| 10|   Ana|  53|62691.89|      false|        2021-06-16|   Marketing|
| 11|Miguel|  46|70126.54|       true|        2018-03-14|          IT|
| 12| David|  27|53608.56|       true|        2014-11-09|        RRHH|
| 13| Laura|  23|57455.18|      false|        2021-03-08|    Finanzas|
| 14| Pedro|  33|20602.28|      false|        2024-03-12|          IT|
| 15| María|  22|57444.64|      false|        2017-10-22|    Finanzas|
| 16|  Sara|  50|32029.18|      false|        2022-01-13|        RRHH|
| 17|   Ana|  53| 21659.3|       true|        2018-01-19|    Finanzas|
| 18|  Sara|  28|30491.18|       true|        2015-12-13|      Ventas|
| 19| María|  26|61548.89|      false|        2015-11-03|        RRHH|
| 20| Pedro|  27|59899.06|      false|        2015-02-25|          IT|
+---+------+----+--------+-----------+------------------+------------+
only showing top 20 rows

# Operaciones de transformación

La sintaxis de Spark es muy similar a la del lenguaje SQL, de hecho, admite la introducción de comandos SQL para realizar las transformaciones de los datos. Vamos a ver algunas de las operaciones más habituales.

### Select

La operación más sencilla consiste en seleccionar simplemente un subconjunto de los datos, sin ninguna otra operación de transformación o filtro añadido. Por ejemplo, seleccionemos únicamente los campos `id` y `nombre`.

In [5]:
df.select("id", "nombre")

+---+------+
| id|nombre|
+---+------+
|  1|  Luis|
|  2|  Juan|
|  3|  Luis|
|  4| Pedro|
|  5|Miguel|
|  6|  Luis|
|  7| María|
|  8| David|
|  9|  Sara|
| 10|   Ana|
| 11|Miguel|
| 12| David|
| 13| Laura|
| 14| Pedro|
| 15| María|
| 16|  Sara|
| 17|   Ana|
| 18|  Sara|
| 19| María|
| 20| Pedro|
+---+------+
only showing top 20 rows

Al igual que en SQL estándar, podemos no solo seleccionar unas columnas sino aplicarles alguna función de transformación dentro del propio comando SELECT, y renombrarlas utilizando un alias.

Las funciones SQL en Spark están contenidas en el módulo `pyspark.sql.functions`, que hemos importado al principio y lo hemos almacenado en un objeto con alias `f` (por sencillez de uso).

Vamos a seleccionar en este caso los mismos campos que en el ejemplo anterior, sin embargo, al campo `nombre` le vamos a aplicar una transformación para visualizar el nombre en mayúsculas, y al resultado lo renombraremos `nombre_en_mayusculas`.

In [6]:
df.select("id", f.upper("nombre").alias("nombre_en_mayusculas"))

+---+--------------------+
| id|nombre_en_mayusculas|
+---+--------------------+
|  1|                LUIS|
|  2|                JUAN|
|  3|                LUIS|
|  4|               PEDRO|
|  5|              MIGUEL|
|  6|                LUIS|
|  7|               MARÍA|
|  8|               DAVID|
|  9|                SARA|
| 10|                 ANA|
| 11|              MIGUEL|
| 12|               DAVID|
| 13|               LAURA|
| 14|               PEDRO|
| 15|               MARÍA|
| 16|                SARA|
| 17|                 ANA|
| 18|                SARA|
| 19|               MARÍA|
| 20|               PEDRO|
+---+--------------------+
only showing top 20 rows

### WithColumn

Podemos añadir campos nuevos derivados a partir de otros campos utilizando el método `withColumn`. Este comando conservará todas las columnas de la tabla, y añadirá una adicional, con las transformaciones que le indiquemos.

Este método opera fila a fila, es decir, aplicará las transformaciones correspondientes registro a registro.

Por ejemplo, en nuestra tabla disponemos del campo `edad`, pero supongamos que nos interesa, para nuestra analítica, disponer de un campo con el año de nacimiento. En tal caso, podríamos concatenar dos funciones SQL: con la primera, `current_date`, extraemos la fecha actual, y sobre dicha fecha aplicamos la función `year` para extraer el año. Finalmente, a este año actual le restamos la edad que tiene el usuario para así calcular su año de nacimiento. Cada usuario dispondrá así de un año de nacimiento (transformación fila a fila).

In [7]:
df.withColumn("año_nacimiento", f.year(f.current_date()) - f.col("edad"))

+---+------+----+--------+-----------+------------------+------------+--------------+
| id|nombre|edad| salario|es_empleado|fecha_contratacion|departamento|año_nacimiento|
+---+------+----+--------+-----------+------------------+------------+--------------+
|  1|  Luis|  48|49281.69|       true|        2021-05-09|    Finanzas|          1976|
|  2|  Juan|  26|49055.36|       true|        2021-07-27|      Ventas|          1998|
|  3|  Luis|  24|73947.68|       true|        2023-03-28|    Finanzas|          2000|
|  4| Pedro|  35|79554.92|      false|        2023-11-29|        RRHH|          1989|
|  5|Miguel|  31|62027.07|       true|        2022-10-27|    Finanzas|          1993|
|  6|  Luis|  44|66505.58|      false|        2023-09-13|          IT|          1980|
|  7| María|  23|65070.76|      false|        2015-12-18|          IT|          2001|
|  8| David|  56|72059.12|      false|        2018-02-06|      Ventas|          1968|
|  9|  Sara|  45|74705.86|      false|        2023-01-02|      Ventas|          1979|
| 10|   Ana|  53|62691.89|      false|        2021-06-16|   Marketing|          1971|
| 11|Miguel|  46|70126.54|       true|        2018-03-14|          IT|          1978|
| 12| David|  27|53608.56|       true|        2014-11-09|        RRHH|          1997|
| 13| Laura|  23|57455.18|      false|        2021-03-08|    Finanzas|          2001|
| 14| Pedro|  33|20602.28|      false|        2024-03-12|          IT|          1991|
| 15| María|  22|57444.64|      false|        2017-10-22|    Finanzas|          2002|
| 16|  Sara|  50|32029.18|      false|        2022-01-13|        RRHH|          1974|
| 17|   Ana|  53| 21659.3|       true|        2018-01-19|    Finanzas|          1971|
| 18|  Sara|  28|30491.18|       true|        2015-12-13|      Ventas|          1996|
| 19| María|  26|61548.89|      false|        2015-11-03|        RRHH|          1998|
| 20| Pedro|  27|59899.06|      false|        2015-02-25|          IT|          1997|
+---+------+----+--------+-----------+------------------+------------+--------------+
only showing top 20 rows

### Filter

Podemos filtrar los datos de acuerdo a alguna condición especificada. Esta sentencia se corresponde con el comando `WHERE` en SQL. Por ejemplo, queremos obtener únicamente los datos de los empleados. 

Recordemos que en Python el operador de igualdad es `==`.

Para poder realizar operaciones con columnas, necesitamos especificar que se trata de una columna del DataFrame haciendo uso de la función `col`, puesto que si no lo que estaríamos es comparando un string con un booleano (`"es_empleado" == True`), que será siempre igual a `False`.

In [8]:
df.filter(f.col("es_empleado") == True)

# Si hacemos df.filter("es_empleado" == True) obtendremos un error porque los tipos no son los esperados.

+---+------+----+--------+-----------+------------------+------------+
| id|nombre|edad| salario|es_empleado|fecha_contratacion|departamento|
+---+------+----+--------+-----------+------------------+------------+
|  1|  Luis|  48|49281.69|       true|        2021-05-09|    Finanzas|
|  2|  Juan|  26|49055.36|       true|        2021-07-27|      Ventas|
|  3|  Luis|  24|73947.68|       true|        2023-03-28|    Finanzas|
|  5|Miguel|  31|62027.07|       true|        2022-10-27|    Finanzas|
| 11|Miguel|  46|70126.54|       true|        2018-03-14|          IT|
| 12| David|  27|53608.56|       true|        2014-11-09|        RRHH|
| 17|   Ana|  53| 21659.3|       true|        2018-01-19|    Finanzas|
| 18|  Sara|  28|30491.18|       true|        2015-12-13|      Ventas|
| 23| Carla|  50|73172.89|       true|        2015-08-21|          IT|
| 25|  Sara|  59|59973.55|       true|        2018-04-23|   Marketing|
| 29|Miguel|  37|69922.06|       true|        2023-10-26|    Finanzas|
| 30|  Luis|  27|70247.43|       true|        2020-05-23|    Finanzas|
+---+------+----+--------+-----------+------------------+------------+

### Agrupaciones

Utilizando el comando group by, podemos agrupar nuestro dataset según los valores de una o varias columnas y posteriormente realizar una operación de agregación sobre cada conjunto, para así obtener estadísticas descriptivas de nuestros datos.

Por ejemplo, podemos obtener el número de empleados en marketing, con lo cual debemos agrupar por departamento y realizar una operación de agregación de suma. Estas operaciones se denominan "de agregación" o "de reducción" porque actúan sobre un conjunto de filas (todas aquellas que comparten el mismo valor del grupo) y devuelven un único valor

In [9]:
df.groupBy("departamento").agg(f.sum("salario").alias("salario_total"))

+------------+----------------+
|departamento|   salario_total|
+------------+----------------+
|    Finanzas| 524206.53515625|
|      Ventas|  421618.7890625|
|        RRHH| 292734.91015625|
|          IT|355377.107421875|
|   Marketing| 122665.44140625|
+------------+----------------+

### Combinaciones
Naturalmente, la riqueza de PySpark es que podemos combinar filtros con agrupaciones, adición de columnas, cambios de tipos, etc para que nuestro dato final quede pulido.

Al contrario que en Pandas, todas las operaciones de transformación en Spark son *lazy*, es decir, no se evalúan hasta que se pide una acción (resultado). Esto permite que el catalizador de Spark optimice toda la cadena de consultas de la manera más apropiada antes de ser ejecutadas.

Veamos un ejemplo de consulta algo más avanzada: supongamos que queremos

In [10]:
df.filter(
    (f.col("es_empleado") == False) & (f.year("fecha_contratacion") > 2016)
).withColumn("mes_contratacion", f.month("fecha_contratacion")).withColumn(
    "categoria_mes",
    f.when(f.col("mes_contratacion").between(1, 5), f.lit("enero-mayo"))
    .when(f.col("mes_contratacion").between(6, 9), f.lit("junio-septiembre"))
    .otherwise(f.lit("octubre-diciembre")),
).groupBy(
    "categoria_mes"
).agg(
    f.mode("departamento").alias("departamento_mas_repetido")
)

+-----------------+-------------------------+
|    categoria_mes|departamento_mas_repetido|
+-----------------+-------------------------+
|octubre-diciembre|                     RRHH|
| junio-septiembre|                Marketing|
|       enero-mayo|                   Ventas|
+-----------------+-------------------------+

# Caso práctico: Extracción de datos de Wallapop
Vamos a construir un pequeño ejemplo de una ETL. Extraeremos datos en crudo desde la API REST de Wallapop, los guardamos en una carpeta de almacenamiento, los leemos con spark, realizamos algunas transformaciones y almacenamos la tabla resultante en nuestro catálogo de datos

In [11]:
try:
    json_data = fetch_api(product="portátil")
    save_json(obj=json_data, path="data/wallapop.json", indent=4)
except Exception as e:
    print(f"Warning: No ha sido posible descargar los datos de la API: {e}")

Podemos previsualizar cuál es la estructura de nuestro fichero JSON utilizando el comando externo `cat` de nuestra terminal (válido únicamente en sistemas Unix, con `jq` instalado).

Si no está instalado `jq`, puede instalarse mediante `sudo apt update && sudo apt install jq -y`

In [12]:
%%sh
cat data/wallapop.json | jq -C | head -20

{
  "data": {
    "section": {
      "payload": {
        "order": "most_relevance",
        "title": "Find what you want",
        "items": [
          {
            "id": "e658282neg6o",
            "user_id": "ejkx1revk16x",
            "title": "ventilador portátil ",
            "description": "Ventilador portable para portátiles para la refrigeración de estos mismos. tiene unos años pero va perfecto.",
            "category_id": 24200,
            "price": {
              "amount": 5,
              "currency": "EUR"
            },
            "images": [
              {
                "average_color": "13C1AC",

Una vez determinada la estructura que tiene nuestro fichero JSON de información, notamos que los datos que queremos obtener se encuentran dentro de la ruta `data -> section -> payload -> items`. Dicha ruta se corresponde con un array (lista) de items, que son los productos de Wallapop; cada uno de ellos tiene unos campos, algunos simples como `id`, `user_id`, y otros compuestos como `price -> amount` o `price -> currency`.

En primer lugar, observemos que si leemos el fichero JSON directamente no obtenemos una estructura muy amigable

In [13]:
wallapop = spark.read.json("data/wallapop.json", multiLine=True)
wallapop.show(truncate=50)

+--------------------------------------------------+--------------------------------------------------+
|                                              data|                                              meta|
+--------------------------------------------------+--------------------------------------------------+
|{{{[{{none}, 24200, 1727444183886, Ventilador p...|{eyJhbGciOiJIUzI1NiJ9.eyJwYXJhbXMiOnsic2VhcmNoU...|
+--------------------------------------------------+--------------------------------------------------+

Esto es porque nos ha cogido las dos primeras claves más externas de nuestro fichero JSON, que son los campos `"data"` y `"meta"`.

Observemos qué estructura hemos cargado haciendo un `printSchema` de nuestro DataFrame. De esta manera obtendremos información de los campos y sus tipos

In [14]:
wallapop.printSchema()

root
 |-- data: struct (nullable = true)
 |    |-- section: struct (nullable = true)
 |    |    |-- payload: struct (nullable = true)
 |    |    |    |-- items: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |-- bump: struct (nullable = true)
 |    |    |    |    |    |    |-- type: string (nullable = true)
 |    |    |    |    |    |-- category_id: long (nullable = true)
 |    |    |    |    |    |-- created_at: long (nullable = true)
 |    |    |    |    |    |-- description: string (nullable = true)
 |    |    |    |    |    |-- discount: struct (nullable = true)
 |    |    |    |    |    |    |-- percentage: long (nullable = true)
 |    |    |    |    |    |    |-- previous_price: struct (nullable = true)
 |    |    |    |    |    |    |    |-- amount: double (nullable = true)
 |    |    |    |    |    |    |    |-- currency: string (nullable = true)
 |    |    |    |    |    |-- favorited: struct (nullable = true)
 |    |    |    |    |    |    |-- flag: boolean (nullable = true)
 |    |    |    |    |    |-- id: string (nullable = true)
 |    |    |    |    |    |-- images: array (nullable = true)
 |    |    |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |    |    |-- average_color: string (nullable = true)
 |    |    |    |    |    |    |    |-- urls: struct (nullable = true)
 |    |    |    |    |    |    |    |    |-- big: string (nullable = true)
 |    |    |    |    |    |    |    |    |-- medium: string (nullable = true)
 |    |    |    |    |    |    |    |    |-- small: string (nullable = true)
 |    |    |    |    |    |-- is_favoriteable: struct (nullable = true)
 |    |    |    |    |    |    |-- flag: boolean (nullable = true)
 |    |    |    |    |    |-- is_refurbished: struct (nullable = true)
 |    |    |    |    |    |    |-- flag: boolean (nullable = true)
 |    |    |    |    |    |-- location: struct (nullable = true)
 |    |    |    |    |    |    |-- city: string (nullable = true)
 |    |    |    |    |    |    |-- country_code: string (nullable = true)
 |    |    |    |    |    |    |-- latitude: double (nullable = true)
 |    |    |    |    |    |    |-- longitude: double (nullable = true)
 |    |    |    |    |    |    |-- postal_code: string (nullable = true)
 |    |    |    |    |    |    |-- region: string (nullable = true)
 |    |    |    |    |    |    |-- region2: string (nullable = true)
 |    |    |    |    |    |-- modified_at: long (nullable = true)
 |    |    |    |    |    |-- price: struct (nullable = true)
 |    |    |    |    |    |    |-- amount: double (nullable = true)
 |    |    |    |    |    |    |-- currency: string (nullable = true)
 |    |    |    |    |    |-- reserved: struct (nullable = true)
 |    |    |    |    |    |    |-- flag: boolean (nullable = true)
 |    |    |    |    |    |-- shipping: struct (nullable = true)
 |    |    |    |    |    |    |-- cost_configuration_id: string (nullable = true)
 |    |    |    |    |    |    |-- item_is_shippable: boolean (nullable = true)
 |    |    |    |    |    |    |-- user_allows_shipping: boolean (nullable = true)
 |    |    |    |    |    |-- taxonomy: array (nullable = true)
 |    |    |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |    |    |-- icon: string (nullable = true)
 |    |    |    |    |    |    |    |-- id: long (nullable = true)
 |    |    |    |    |    |    |    |-- name: string (nullable = true)
 |    |    |    |    |    |-- title: string (nullable = true)
 |    |    |    |    |    |-- user_id: string (nullable = true)
 |    |    |    |    |    |-- web_slug: string (nullable = true)
 |    |    |    |-- order: string (nullable = true)
 |    |    |    |-- title: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |    |-- tracking: struct (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- country_code: string (nullable = true)
 |    |    |    |-- latitude: double (nullable = true)
 |    |    |    |-- longitude: double (nullable = true)
 |    |    |-- variant: string (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- next_page: string (nullable = true)
 |    |-- next_section_type: string (nullable = true)

Ahora, para navegar a través de nuestro fichero JSON, podemos utilizar la sintáxis por puntos; es decir, para obtener el campo deseado `"items"`, que contiene la información de todos los productos, debemos acceder mediante `data.section.payload.items`.

In [15]:
wallapop.select("data.section.payload.items").show(truncate=100)

+----------------------------------------------------------------------------------------------------+
|                                                                                               items|
+----------------------------------------------------------------------------------------------------+
|[{{none}, 24200, 1727444183886, Ventilador portable para portátiles para la refrigeración de esto...|
+----------------------------------------------------------------------------------------------------+

Sin embargo, seguimos sin apreciar una estructura legible. Esto es porque se nos está mostrando un único registro (fila) que contiene toda la información de los productos. Lo que nos interesa es que cada elemento de esta lista se muestre en un registro a parte. Para ello se utiliza la función SQL `explode`, que coge un array de elementos y devuelve un registro por cada uno de esos elementos. Veámoslo

In [16]:
wallapop.select(f.explode("data.section.payload.items")).show(truncate=100)

+----------------------------------------------------------------------------------------------------+
|                                                                                                 col|
+----------------------------------------------------------------------------------------------------+
|{{none}, 24200, 1727444183886, Ventilador portable para portátiles para la refrigeración de estos...|
|{{none}, 24200, 1727425889144, Se vende mini impresora portatil. Se conecta mediante bluetooth y ...|
|{{none}, 24200, 1727460919304, Ordenador HP Compaq nc6400 con cargador y batería (2h). Formateado...|
|{{none}, 24200, 1727447381099, Windows 11 home \nAMD Ryzem 5 5500U, 2100Mhz, 6 procesadores princ...|
|{{none}, 24200, 1727456331822, NUEVO blanco comprado el 15 de septiembre, con garantía.\nNo nos s...|
|{{none}, 24200, 1727451202521, Proyector portátil 4k Wifi6,\nBluetooth 5.0,130 pulgadas,180 grado...|
|{{none}, 24200, 1727460582620, PIEZAS PARA ORDENADOR. DESCRIPCIÓN EN FOTOS. SOLO ENVIO.  NO SE SI...|
|{{none}, 24200, 1727458469974, funda negra con bolsillo externo. forrado interior tacto suave. ex...|
|{{none}, 24200, 1727389069647, vendo pantallas de portátiles las cuales han sido desechadas de es...|
|{{none}, 24200, 1727456498039, Nebula Mars 3 Air 1080P proyector portátil, wifi, mini proyector p...|
|{{none}, 24200, 1727449508005, \n•500 GB de almacenamiento\n• RAM 8GB\n• intel core 17\n• con win...|
|{{none}, 24200, 1727456569464, HP Probook 440 G4 procesador I5 7200u 2,50Ghz - 2,70Ghz - 8Gb de m...|
|{{none}, 24200, 1727450168872, esta genial, NULL, {false}, v6ggngqgq56e, [{13C1AC, {https://cdn.w...|
|{{none}, 24200, 1727444927683, maletin para portatil, medidas 40x30 cm, negro, nuevo., NULL, {fal...|
|{{none}, 24200, 1727365954314, ‎Tamaño 8,89 x 33,02 x 10,16 cm.\nla calidad de impresión es decen...|
|{{none}, 24200, 1727452818525, Consola portátil NUEVA a estrenar,con sd de 64 GB repleta de j.u.e...|
|{{none}, 24200, 1727390117535, 2 teclas para portátil HP con sus respectivos enganches: esc y f1,...|
|{{none}, 24200, 1727457300482, Consola portatil R36S nueva, con extra de funda a juego. Pantalla ...|
|{{none}, 24200, 1727457477684, Con funda. Sin cargador, NULL, {false}, v6ggngxdkl6e, [{13C1AC, {h...|
|{{none}, 24200, 1727448722635, Batería Portatil Solar de 20.000mAh.\nBateria en perfecto estado, ...|
+----------------------------------------------------------------------------------------------------+
only showing top 20 rows

Bien, ya hemos avanzado, disponemos ahora de un registro por cada producto de la lista `items`, como queríamos. Sin embargo, se sigue mostrando toda la información en una misma columna. Eso lo solucionamos seleccionando los campos anidados deseados. Por ejemplo, supongamos que queremos coger el `id` del producto, el `user_id` del usuario y la fecha de creación del anuncio `created_at`. Una buena manera de operar sería crear una nueva columna llamada, por ejemplo, `"data"`, que contenga los registros explotados del campo de `"items"`, y luego utilizar este nuevo campo para obtener la info de los otros campos descendientes

In [17]:
wallapop.withColumn("data", f.explode("data.section.payload.items")).select(
    "data.id", "data.user_id", "data.created_at"
)

+------------+------------+-------------+
|          id|     user_id|   created_at|
+------------+------------+-------------+
|e658282neg6o|ejkx1revk16x|1727444183886|
|nz04x447dejo|v6g4e7nxnl6e|1727425889144|
|nz04x4eg3djo|wzyl0ok43x65|1727460919304|
|36e1g1rngkjd|nz0mw4e73djo|1727447381099|
|mzn2m2kmw7zn|kmznv8v2q06n|1727456331822|
|x6qm2m88gnjy|3zlg9e318pjx|1727451202521|
|pzp2324vr9j3|e65y9rpllgjo|1727460582620|
|3zl8x83m026x|436ew7keok6d|1727458469974|
|qjw4v4lvnqzo|3zlgne4p28jx|1727389069647|
|nz04x4p1qvjo|0j2yqrr3pnzy|1727456498039|
|pzp232mvo5j3|e65y3x4em2jo|1727449508005|
|qzme1edwxyjv|qnzxr7e9kmz2|1727456569464|
|v6ggngqgq56e|qjwyr2qex4zo|1727450168872|
|ejk8w8nxeyjx|wzylvgr4kv65|1727444927683|
|8z8k94n77lz3|xpzpko59wkj3|1727365954314|
|3zl8x8w8v86x|mznlo5rdoyjn|1727452818525|
|0j24k49d2ezy|ke657qrkkpjo|1727390117535|
|8z8k9k3xodz3|k3zl4w3el2jx|1727457300482|
|v6ggngxdkl6e|7v6gl11lw7je|1727457477684|
|pzp232mo3mj3|kp61kw0prdz5|1727448722635|
+------------+------------+-------------+
only showing top 20 rows

Fenomenal. Ahora, siguiendo esta misma operación, obtendremos un dataset completo tabular de los campos del JSON más relevantes. Observemos que para todos los campos seleccionados, se hace una conversión de tipos (método `cast`) y se asigna un alias (método `alias`). Esto es para que la tabla resultante sea consistente, y tenga siempre el mismo esquema de salida.

Notemos también que a campos que representan fechas pero se muestran como números enteros (milisegundos desde 1970, esto se conoce como UNIX time), como `created_at` o `modified_at`, les aplicamos una conversión mediante la función `from_unixtime` para representarlos como una fecha legible

In [18]:
wallapop = (
    spark.read.json("data/wallapop.json", multiLine=True, primitivesAsString=True)
    .withColumn("data", f.explode("data.section.payload.items"))
    .select(
        f.col("data.id").cast("string").alias("id"),
        f.col("data.title").cast("string").alias("title"),
        f.col("data.user_id").cast("string").alias("user_id"),
        f.col("data.category_id").cast("int").alias("category_id"),
        f.from_unixtime((f.col("data.created_at") / 1000))
        .cast("timestamp")
        .alias("created_at"),
        f.from_unixtime(f.col("data.modified_at") / 1000)
        .cast("timestamp")
        .alias("modified_at"),
        f.col("data.description").cast("string").alias("description"),
        f.col("data.discount.percentage").cast("int").alias("percentage"),
        f.col("data.discount.previous_price.amount")
        .cast("double")
        .alias("previous_price_amount"),
        f.col("data.discount.previous_price.currency")
        .cast("string")
        .alias("previous_price_currency"),
        f.col("data.favorited.flag").cast("boolean").alias("favorited"),
        f.col("data.is_favoriteable.flag").cast("boolean").alias("is_favoriteable"),
        f.col("data.is_refurbished.flag").cast("boolean").alias("is_refurbished"),
        f.col("data.location.latitude").cast("double").alias("latitude"),
        f.col("data.location.longitude").cast("double").alias("longitude"),
        f.col("data.location.postal_code").cast("string").alias("postal_code"),
        f.col("data.location.city").cast("string").alias("city"),
        f.col("data.location.region").cast("string").alias("region"),
        f.col("data.location.region2").cast("string").alias("region2"),
        f.col("data.location.country_code").cast("string").alias("country_code"),
        f.col("data.price.amount").cast("double").alias("amount"),
        f.col("data.price.currency").cast("string").alias("currency"),
        f.col("data.reserved.flag").alias("reserved"),
        f.col("data.shipping.item_is_shippable")
        .cast("boolean")
        .alias("item_is_shippable"),
        f.col("data.shipping.user_allows_shipping")
        .cast("boolean")
        .alias("user_allows_shipping"),
        f.current_timestamp().alias("__timestamp"),
    )
)
wallapop.printSchema()
display(wallapop)

root
 |-- id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- category_id: integer (nullable = true)
 |-- created_at: timestamp (nullable = true)
 |-- modified_at: timestamp (nullable = true)
 |-- description: string (nullable = true)
 |-- percentage: integer (nullable = true)
 |-- previous_price_amount: double (nullable = true)
 |-- previous_price_currency: string (nullable = true)
 |-- favorited: boolean (nullable = true)
 |-- is_favoriteable: boolean (nullable = true)
 |-- is_refurbished: boolean (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- city: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region2: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- amount: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- reserved: string (nullable = true)
 |-- item_is_shippable: boolean (nullable = true)
 |-- user_allows_shipping: boolean (nullable = true)
 |-- __timestamp: timestamp (nullable = false)

24/09/27 20:51:25 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+------------+--------------------+------------+-----------+-------------------+-------------------+--------------------+----------+---------------------+-----------------------+---------+---------------+--------------+------------------+-------------------+-----------+--------------------+-------------------+-------+------------+------+--------+--------+-----------------+--------------------+--------------------+
|          id|               title|     user_id|category_id|         created_at|        modified_at|         description|percentage|previous_price_amount|previous_price_currency|favorited|is_favoriteable|is_refurbished|          latitude|          longitude|postal_code|                city|             region|region2|country_code|amount|currency|reserved|item_is_shippable|user_allows_shipping|         __timestamp|
+------------+--------------------+------------+-----------+-------------------+-------------------+--------------------+----------+---------------------+-----------------------+---------+---------------+--------------+------------------+-------------------+-----------+--------------------+-------------------+-------+------------+------+--------+--------+-----------------+--------------------+--------------------+
|e658282neg6o|ventilador portátil |ejkx1revk16x|      24200|2024-09-27 15:36:23|2024-09-27 15:36:34|Ventilador portab...|      NULL|                 NULL|                   NULL|    false|           true|         false| 40.23246875179884| -3.979483127852885|      28607|            El Álamo|Comunidad de Madrid| Madrid|          ES|   5.0|     EUR|   false|             true|               false|2024-09-27 20:51:...|
|nz04x447dejo|Mini impresora po...|v6g4e7nxnl6e|      24200|2024-09-27 10:31:29|2024-09-27 10:31:42|Se vende mini imp...|      NULL|                 NULL|                   NULL|    false|           true|         false|        40.3050436|         -3.7321354|      28900|              Getafe|Comunidad de Madrid| Madrid|          ES|  10.0|     EUR|   false|             true|               false|2024-09-27 20:51:...|
|nz04x4eg3djo|         Portátil HP|wzyl0ok43x65|      24200|2024-09-27 20:15:19|2024-09-27 20:15:29|Ordenador HP Comp...|      NULL|                 NULL|                   NULL|    false|           true|         false| 40.21658585209891|-3.5658869161492475|      28330|San Martín de la ...|Comunidad de Madrid| Madrid|          ES|  49.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|36e1g1rngkjd|            Portátil|nz0mw4e73djo|      24200|2024-09-27 16:29:41|2024-09-27 16:29:51|Windows 11 home \...|      NULL|                 NULL|                   NULL|    false|           true|         false| 40.22316733838915| -3.641699137214548|      28330|Poligono Industri...|Comunidad de Madrid| Madrid|          ES| 850.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|mzn2m2kmw7zn|  Ordenador portatil|kmznv8v2q06n|      24200|2024-09-27 18:58:51|2024-09-27 19:26:34|NUEVO blanco comp...|      NULL|                 NULL|                   NULL|    false|           true|         false| 40.20501457010712|-3.5702336876836434|      28330|San Martín de la ...|Comunidad de Madrid| Madrid|          ES| 330.0|     EUR|   false|             true|               false|2024-09-27 20:51:...|
|x6qm2m88gnjy| Proyector portátil |3zlg9e318pjx|      24200|2024-09-27 17:33:22|2024-09-27 18:32:44|Proyector portáti...|      NULL|                 NULL|                   NULL|    false|           true|         false| 40.35463163576748| -3.700728932308431|      28021|              Madrid|Comunidad de Madrid| Madrid|          ES|  45.0|     EUR|    true|             true|               false|2024-09-27 20:51:...|
|pzp2324vr9j3|ORDENADOR PORTATI...|e65y9rpllgjo|      24200|2024-09-27 20:09:42|2024-09-27 20:09:53|PIEZAS PARA ORDEN...|      NULL|                 NULL|                   NULL|    false|           true|         false|40.457704764564234| -3.754137266350963|      28040|              Madrid|Comunidad de Madrid| Madrid|          ES|  30.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|3zl8x83m026x|Funda portatil th...|436ew7keok6d|      24200|2024-09-27 19:34:29|2024-09-27 19:34:40|funda negra con b...|      NULL|                 NULL|                   NULL|    false|           true|         false|40.444460875975295|-3.6541878236811187|      28027|              Madrid|Comunidad de Madrid| Madrid|          ES|   6.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|qjw4v4lvnqzo|Pantallas de port...|3zlgne4p28jx|      24200|2024-09-27 00:17:49|2024-09-27 00:17:59|vendo pantallas d...|      NULL|                 NULL|                   NULL|    false|           true|         false| 40.45743719910675|-3.4686690029732072|      28850|   Torrejón de Ardoz|Comunidad de Madrid| Madrid|          ES|  20.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|nz04x4p1qvjo|Proyector portáti...|0j2yqrr3pnzy|      24200|2024-09-27 19:01:38|2024-09-27 19:01:48|Nebula Mars 3 Air...|      NULL|                 NULL|                   NULL|    false|           true|         false| 40.42426170604599| -3.695479791260909|      28070|              Madrid|Comunidad de Madrid| Madrid|          ES| 470.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|pzp232mvo5j3|         PORTATIL HP|e65y3x4em2jo|      24200|2024-09-27 17:05:08|2024-09-27 17:18:02|\n•500 GB de alma...|      NULL|                 NULL|                   NULL|    false|           true|         false|  40.5735457896997|-3.9437009626605066|      28250|        Torrelodones|Comunidad de Madrid| Madrid|          ES|  80.0|     EUR|    true|             true|                true|2024-09-27 20:51:...|
|qzme1edwxyjv|Ordenador portati...|qnzxr7e9kmz2|      24200|2024-09-27 19:02:49|2024-09-27 19:03:00|HP Probook 440 G4...|      NULL|                 NULL|                   NULL|    false|           true|         false| 40.38851158148574| -3.757716321448765|      28047|              Madrid|Comunidad de Madrid| Madrid|          ES| 220.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|v6ggngqgq56e|   cargadpr portatil|qjwyr2qex4zo|      24200|2024-09-27 17:16:08|2024-09-27 17:20:19|         esta genial|      NULL|                 NULL|                   NULL|    false|           true|         false| 39.97252244439486| -3.439383463833284|      45350|            Noblejas| Castilla-La Mancha| Toledo|          ES|  20.0|     EUR|    true|             true|                true|2024-09-27 20:51:...|
|ejk8w8nxeyjx|Maletin para port...|wzylvgr4kv65|      24200|2024-09-27 15:48:47|2024-09-27 15:48:57|maletin para port...|      NULL|                 NULL|                   NULL|    false|           true|         false| 40.42623128086043|-3.6385160524938174|      28017|              Madrid|Comunidad de Madrid| Madrid|          ES|   5.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|8z8k94n77lz3|  Impresora portátil|xpzpko59wkj3|      24200|2024-09-26 17:52:34|2024-09-26 18:03:06|‎Tamaño 8,89 x 33...|        54|                551.0|                    EUR|    false|           true|         false| 40.20350476503987|-3.8072525979736342|      28991|Torrejón de la Ca...|Comunidad de Madrid| Madrid|          ES| 255.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|3zl8x8w8v86x|Consola Portátil ...|mznlo5rdoyjn|      24200|2024-09-27 18:00:18|2024-09-27 18:00:30|Consola portátil ...|      NULL|                 NULL|                   NULL|    false|           true|         false| 40.33386078920616|-3.8709273891448257|      28933|            Móstoles|Comunidad de Madrid| Madrid|          ES|  45.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|0j24k49d2ezy|2 teclas para por...|ke657qrkkpjo|      24200|2024-09-27 00:35:17|2024-09-27 07:24:29|2 teclas para por...|      NULL|                 NULL|                   NULL|    false|           true|         false|40.477585643599106|-3.6918482453717743|      28029|              Madrid|Comunidad de Madrid| Madrid|          ES|   4.0|     EUR|    true|             true|                true|2024-09-27 20:51:...|
|8z8k9k3xodz3|Consola portatil ...|k3zl4w3el2jx|      24200|2024-09-27 19:15:00|2024-09-27 19:15:10|Consola portatil ...|      NULL|                 NULL|                   NULL|    false|           true|         false| 40.43532648436177| -3.626103168787882|      28017|              Madrid|Comunidad de Madrid| Madrid|          ES|  35.0|     EUR|   false|             true|               false|2024-09-27 20:51:...|
|v6ggngxdkl6e|Portátil HP Windo...|7v6gl11lw7je|      24200|2024-09-27 19:17:57|2024-09-27 19:18:07|Con funda. Sin ca...|      NULL|                 NULL|                   NULL|    false|           true|         false|  40.4474583210984|-3.5920358316294463|      28022|              Madrid|Comunidad de Madrid| Madrid|          ES|  10.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|pzp232mo3mj3|Batería Portátil ...|kp61kw0prdz5|      24200|2024-09-27 16:52:02|2024-09-27 16:52:13|Batería Portatil ...|      NULL|                 NULL|                   NULL|    false|           true|         false|40.369822322304884| -3.794419615655231|      28917|          La Fortuna|Comunidad de Madrid| Madrid|          ES|  30.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
+------------+--------------------+------------+-----------+-------------------+-------------------+--------------------+----------+---------------------+-----------------------+---------+---------------+--------------+------------------+-------------------+-----------+--------------------+-------------------+-------+------------+------+--------+--------+-----------------+--------------------+--------------------+
only showing top 20 rows

Genial, ya hemos leído y transformado nuestro set de datos inicialmente desestructurado en una tabla bien estructurada, con unos campos y tipos fijados.

Ahora, para completar la ETL, almacenaremos esta tabla en el catálogo de datos de Spark. En este caso, al estar trabajando de manera local, dicho catálogo de datos estará localizado en esta misma ruta (`metastore_db/`, `spark-warehouse/`, `derby.log`), sin embargo, cuando trabajemos en un entorno corporativo, habitualmente el catálogo de datos se alojará en una arquitectura cloud, como AWS, Azure, GCP, Databricks, etc.

Aunque no es necesario, es una buena práctica crear en primera instancia la tabla sobre la que escribiremos nuestro dataset, con un schema concreto, metadatos, etc.

In [19]:
dt = (
    DeltaTable.createIfNotExists(spark)
    .addColumns(wallapop.schema)
    .tableName("wallapop")
    .comment("Tabla de productos de Wallapop")
    .execute()
)

24/09/27 20:51:26 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/09/27 20:51:26 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
24/09/27 20:51:28 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
24/09/27 20:51:28 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore dadiego@127.0.1.1
24/09/27 20:51:28 WARN ObjectStore: Failed to get database default, returning NoSuchObjectException
24/09/27 20:51:29 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider delta. Persisting data source table `spark_catalog`.`default`.`wallapop` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.
24/09/27 20:51:29 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
24/09/27 20:51:29 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
24/09/27 20:51:29 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/09/27 20:51:29 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

Con el método `createIfNotExists` estamos indicando que cree únicamente la tabla en el catálogo de datos si esta no existía previamente

In [20]:
(
    dt.alias("target")
    .merge(
        wallapop.alias("source"),
        "source.id = target.id AND source.user_id = target.user_id",
    )
    .whenMatchedUpdateAll()
    .whenNotMatchedInsertAll()
    .execute()
)

Una vez creada la tabla e insertados los datos en la misma, podemos consultar el catálogo mediante SQL

In [21]:
spark.sql("select * from wallapop limit 5")

+------------+--------------------+------------+-----------+-------------------+-------------------+--------------------+----------+---------------------+-----------------------+---------+---------------+--------------+-----------------+-------------------+-----------+--------------------+-------------------+-------+------------+------+--------+--------+-----------------+--------------------+--------------------+
|          id|               title|     user_id|category_id|         created_at|        modified_at|         description|percentage|previous_price_amount|previous_price_currency|favorited|is_favoriteable|is_refurbished|         latitude|          longitude|postal_code|                city|             region|region2|country_code|amount|currency|reserved|item_is_shippable|user_allows_shipping|         __timestamp|
+------------+--------------------+------------+-----------+-------------------+-------------------+--------------------+----------+---------------------+-----------------------+---------+---------------+--------------+-----------------+-------------------+-----------+--------------------+-------------------+-------+------------+------+--------+--------+-----------------+--------------------+--------------------+
|e658282neg6o|ventilador portátil |ejkx1revk16x|      24200|2024-09-27 15:36:23|2024-09-27 15:36:34|Ventilador portab...|      NULL|                 NULL|                   NULL|    false|           true|         false|40.23246875179884| -3.979483127852885|      28607|            El Álamo|Comunidad de Madrid| Madrid|          ES|   5.0|     EUR|   false|             true|               false|2024-09-27 20:51:...|
|nz04x447dejo|Mini impresora po...|v6g4e7nxnl6e|      24200|2024-09-27 10:31:29|2024-09-27 10:31:42|Se vende mini imp...|      NULL|                 NULL|                   NULL|    false|           true|         false|       40.3050436|         -3.7321354|      28900|              Getafe|Comunidad de Madrid| Madrid|          ES|  10.0|     EUR|   false|             true|               false|2024-09-27 20:51:...|
|nz04x4eg3djo|         Portátil HP|wzyl0ok43x65|      24200|2024-09-27 20:15:19|2024-09-27 20:15:29|Ordenador HP Comp...|      NULL|                 NULL|                   NULL|    false|           true|         false|40.21658585209891|-3.5658869161492475|      28330|San Martín de la ...|Comunidad de Madrid| Madrid|          ES|  49.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|36e1g1rngkjd|            Portátil|nz0mw4e73djo|      24200|2024-09-27 16:29:41|2024-09-27 16:29:51|Windows 11 home \...|      NULL|                 NULL|                   NULL|    false|           true|         false|40.22316733838915| -3.641699137214548|      28330|Poligono Industri...|Comunidad de Madrid| Madrid|          ES| 850.0|     EUR|   false|             true|                true|2024-09-27 20:51:...|
|mzn2m2kmw7zn|  Ordenador portatil|kmznv8v2q06n|      24200|2024-09-27 18:58:51|2024-09-27 19:26:34|NUEVO blanco comp...|      NULL|                 NULL|                   NULL|    false|           true|         false|40.20501457010712|-3.5702336876836434|      28330|San Martín de la ...|Comunidad de Madrid| Madrid|          ES| 330.0|     EUR|   false|             true|               false|2024-09-27 20:51:...|
+------------+--------------------+------------+-----------+-------------------+-------------------+--------------------+----------+---------------------+-----------------------+---------+---------------+--------------+-----------------+-------------------+-----------+--------------------+-------------------+-------+------------+------+--------+--------+-----------------+--------------------+--------------------+