# Introducción
En este Notebook aprenderemos las operaciones básicas más utilizadas en PySpark, incluyendo un ejercicio práctico en el que realizaremos una pequeña ETL para extraer unos datos desde una API y los volcaremos en el catálogo de datos de Spark.

# Importación de módulos requeridos
En primer lugar necesitamos importar las funciones y objetos requeridos para la implementación.

- `SparkSession`: objeto necesario para la interacción con la herramienta de Spark a través de Python.
- `pyspark.sql.functions`: funciones de SQL que ofrece pyspark, necesarias para las transformaciones de los datos en la ETL.
- `fetch_api, save_json`: estas funciones están definidas dentro de nuestra propia librería llamada `blackops`. Contienen el código necesario para extraer y almacenar los datos de la API.
- `date, timedelta`: funciones para crear objetos de tipo fecha y timestamp dentro de Python.
- `random`: módulo utilizado para la generación de datos aleatorios.
- `DeltaTable`: objeto para interaccionar con tablas de tipo Delta. Se trata de un formato ampliamente utilizado en Spark, que ofrece muchas funcionalidades añadidas a nuestro catálogo de datos, como por ejemplo la posibilidad de revertir cambios.

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
from blackops.crawlers.wallapop.functions import fetch_api
from blackops.utils.io import save_json
from blackops.utils.catalog import get_detailed_tables_info
from datetime import date, timedelta
import random
from delta import DeltaTable

Establecemos una semilla para la generación de números aleatorios. De esta manera, los resultados serán reproducibles

In [2]:
random.seed(45)

# Inicialización de la sesión de Spark

Establecemos ahora la comunicación con el motor de Spark desde Python, a través del objeto `SparkSession` de la librería `pyspark`.

En este caso de prueba no estamos utilizando un clúster, sino que haremos uso de una arquitectura local. El propio Jupyter Notebook ejercerá como Driver, como Master y como Ejecutor de las tareas.

Adicionalmente, estamos instalando dependencias externas como la librería Delta, que incorpora utilidades muy importantes para el manejo de las tablas en nuestro catálogo de datos (histórico de versiones de tablas, omisión de ficheros innecesarios en la lectura, etc.)

In [3]:
spark = (
    SparkSession.Builder()
    .master("local[*]")
    .config(
        map={
            "spark.driver.memory": "8g",
            "spark.jars.packages": "io.delta:delta-spark_2.12:3.2.0",
            "spark.sql.extensions": "io.delta.sql.DeltaSparkSessionExtension",
            "spark.sql.catalog.spark_catalog": "org.apache.spark.sql.delta.catalog.DeltaCatalog",
            "spark.databricks.delta.retentionDurationCheck.enabled": "false",
            "spark.sql.catalogImplementation": "hive",
            "spark.sql.repl.eagerEval.enabled": "true",
            "spark.sql.repl.eagerEval.truncate": "100",
        }
    )
    .getOrCreate()
)

24/10/02 00:42:50 WARN Utils: Your hostname, pop-os resolves to a loopback address: 127.0.1.1; using 192.168.1.40 instead (on interface enp3s0)
24/10/02 00:42:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Ivy Default Cache set to: /home/dadiego/.ivy2/cache
The jars for the packages stored in: /home/dadiego/.ivy2/jars
io.delta#delta-spark_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-bb78a1d4-8e28-4265-b7d5-0ed536ecd0c8;1.0
	confs: [default]

:: loading settings :: url = jar:file:/home/dadiego/projects/ESIC/esic-bigdata-iv-blackops/.venv/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

	found io.delta#delta-spark_2.12;3.2.0 in central
	found io.delta#delta-storage;3.2.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
:: resolution report :: resolve 99ms :: artifacts dl 4ms
	:: modules in use:
	io.delta#delta-spark_2.12;3.2.0 from central in [default]
	io.delta#delta-storage;3.2.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-bb78a1d4-8e28-4265-b7d5-0ed536ecd0c8
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/3ms)
24/10/02 00:42:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Una vez se ha inicializado la sesión, podemos acceder a la web `localhost:4040` para consultar la interfaz de administración que ofrece Spark. Allí, se podrá monitorizar las tareas que se mandan desde el Driver.

**Nota**: Si al inicializar la sesión de Spark obtenemos algún error en el que se nos indica que la variable `JAVA_HOME` no existe, lo más probable es que no tengamos instalado Java en nuestro sistema, y necesitamos instalarlo ya que Spark depende de Java para su funcionamiento. Para ello, en Linux podemos utilizar el gestor de paquetes: `sudo apt update && sudo apt install openjdk-17-jdk -y`.

# Creación de un DataFrame de Spark

En Spark podemos crear directamente un Dataframe a partir de una lista de datos, o bien de un Dataframe de pandas. Para ello se puede utilizar el método `spark.createDataFrame`.
Debemos especificar tanto los datos como el esquema que tiene el Dataframe (sus columnas y sus tipos).

En este caso hacemos uso del paquete `random` para generar datos aleatorios (pero reproducibles, al haber establecido una semilla).

In [4]:
# Podemos especificar el esquema del DataFrame usando una cadena de texto
schema = "id INT, nombre STRING, edad INT, salario FLOAT, es_empleado BOOLEAN, fecha_contratacion DATE, departamento STRING"

# Crear una lista de datos ficticios
nombres = [
    "Juan",
    "María",
    "Pedro",
    "Ana",
    "Luis",
    "Carla",
    "Miguel",
    "Sara",
    "David",
    "Laura",
]
departamentos = ["Ventas", "Marketing", "Finanzas", "IT", "RRHH"]

data = [
    (
        i,  # id
        random.choice(nombres),  # nombre
        random.randint(22, 60),  # edad
        round(random.uniform(20000, 80000), 2),  # salario
        random.choice([True, False]),  # es_empleado
        date(2024, 10, 1)
        - timedelta(days=random.randint(0, 3650)),  # fecha_contratacion
        random.choice(departamentos),  # departamento
    )
    for i in range(1, 31)  # Genera 30 registros aleatorios
]

# Crear el DataFrame usando el esquema en string
df = spark.createDataFrame(data, schema)

# Creamos una vista temporal del DataFrame en el catálogo, para poder hacer consultas en SQL.
df.createOrReplaceTempView("empleados")

# Mostramos el DataFrame resultante por pantalla
display(df)

+---+------+----+--------+-----------+------------------+------------+
| id|nombre|edad| salario|es_empleado|fecha_contratacion|departamento|
+---+------+----+--------+-----------+------------------+------------+
|  1|  Luis|  48|49281.69|       true|        2021-05-09|    Finanzas|
|  2|  Juan|  26|49055.36|       true|        2021-07-27|      Ventas|
|  3|  Luis|  24|73947.68|       true|        2023-03-28|    Finanzas|
|  4| Pedro|  35|79554.92|      false|        2023-11-29|        RRHH|
|  5|Miguel|  31|62027.07|       true|        2022-10-27|    Finanzas|
|  6|  Luis|  44|66505.58|      false|        2023-09-13|          IT|
|  7| María|  23|65070.76|      false|        2015-12-18|          IT|
|  8| David|  56|72059.12|      false|        2018-02-06|      Ventas|
|  9|  Sara|  45|74705.86|      false|        2023-01-02|      Ventas|
| 10|   Ana|  53|62691.89|      false|        2021-06-16|   Marketing|
| 11|Miguel|  46|70126.54|       true|        2018-03-14|          IT|
| 12| David|  27|53608.56|       true|        2014-11-09|        RRHH|
| 13| Laura|  23|57455.18|      false|        2021-03-08|    Finanzas|
| 14| Pedro|  33|20602.28|      false|        2024-03-12|          IT|
| 15| María|  22|57444.64|      false|        2017-10-22|    Finanzas|
| 16|  Sara|  50|32029.18|      false|        2022-01-13|        RRHH|
| 17|   Ana|  53| 21659.3|       true|        2018-01-19|    Finanzas|
| 18|  Sara|  28|30491.18|       true|        2015-12-13|      Ventas|
| 19| María|  26|61548.89|      false|        2015-11-03|        RRHH|
| 20| Pedro|  27|59899.06|      false|        2015-02-25|          IT|
+---+------+----+--------+-----------+------------------+------------+
only showing top 20 rows

# Operaciones de transformación

La sintaxis de Spark es muy similar a la del lenguaje SQL, de hecho, admite la introducción de comandos SQL para realizar las transformaciones de los datos. Vamos a ver algunas de las operaciones más habituales.

### Select

La operación más sencilla consiste en seleccionar simplemente un subconjunto de los datos, sin ninguna otra operación de transformación o filtro añadido. Por ejemplo, seleccionemos únicamente los campos `id` y `nombre`.

In [5]:
df.select("id", "nombre")

+---+------+
| id|nombre|
+---+------+
|  1|  Luis|
|  2|  Juan|
|  3|  Luis|
|  4| Pedro|
|  5|Miguel|
|  6|  Luis|
|  7| María|
|  8| David|
|  9|  Sara|
| 10|   Ana|
| 11|Miguel|
| 12| David|
| 13| Laura|
| 14| Pedro|
| 15| María|
| 16|  Sara|
| 17|   Ana|
| 18|  Sara|
| 19| María|
| 20| Pedro|
+---+------+
only showing top 20 rows

Al igual que en SQL estándar, podemos no solo seleccionar unas columnas sino aplicarles alguna función de transformación dentro del propio comando SELECT, y renombrarlas utilizando un alias.

Las funciones SQL en Spark están contenidas en el módulo `pyspark.sql.functions`, que hemos importado al principio y lo hemos almacenado en un objeto con alias `f` (por sencillez de uso).

Vamos a seleccionar en este caso los mismos campos que en el ejemplo anterior, sin embargo, al campo `nombre` le vamos a aplicar una transformación para visualizar el nombre en mayúsculas, y al resultado lo renombraremos `nombre_en_mayusculas`.

In [6]:
df.select("id", f.upper("nombre").alias("nombre_en_mayusculas"))

+---+--------------------+
| id|nombre_en_mayusculas|
+---+--------------------+
|  1|                LUIS|
|  2|                JUAN|
|  3|                LUIS|
|  4|               PEDRO|
|  5|              MIGUEL|
|  6|                LUIS|
|  7|               MARÍA|
|  8|               DAVID|
|  9|                SARA|
| 10|                 ANA|
| 11|              MIGUEL|
| 12|               DAVID|
| 13|               LAURA|
| 14|               PEDRO|
| 15|               MARÍA|
| 16|                SARA|
| 17|                 ANA|
| 18|                SARA|
| 19|               MARÍA|
| 20|               PEDRO|
+---+--------------------+
only showing top 20 rows

### WithColumn

Podemos añadir campos nuevos derivados a partir de otros campos utilizando el método `withColumn`. Este comando conservará todas las columnas de la tabla, y añadirá una adicional, con las transformaciones que le indiquemos.

Este método opera fila a fila, es decir, aplicará las transformaciones correspondientes registro a registro.

Por ejemplo, en nuestra tabla disponemos del campo `edad`, pero supongamos que nos interesa, para nuestra analítica, disponer de un campo con el año de nacimiento. En tal caso, podríamos concatenar dos funciones SQL: con la primera, `current_date`, extraemos la fecha actual, y sobre dicha fecha aplicamos la función `year` para extraer el año. Finalmente, a este año actual le restamos la edad que tiene el usuario para así calcular su año de nacimiento. Cada usuario dispondrá así de un año de nacimiento (transformación fila a fila).

In [7]:
df.withColumn("año_nacimiento", f.year(f.current_date()) - f.col("edad"))

+---+------+----+--------+-----------+------------------+------------+--------------+
| id|nombre|edad| salario|es_empleado|fecha_contratacion|departamento|año_nacimiento|
+---+------+----+--------+-----------+------------------+------------+--------------+
|  1|  Luis|  48|49281.69|       true|        2021-05-09|    Finanzas|          1976|
|  2|  Juan|  26|49055.36|       true|        2021-07-27|      Ventas|          1998|
|  3|  Luis|  24|73947.68|       true|        2023-03-28|    Finanzas|          2000|
|  4| Pedro|  35|79554.92|      false|        2023-11-29|        RRHH|          1989|
|  5|Miguel|  31|62027.07|       true|        2022-10-27|    Finanzas|          1993|
|  6|  Luis|  44|66505.58|      false|        2023-09-13|          IT|          1980|
|  7| María|  23|65070.76|      false|        2015-12-18|          IT|          2001|
|  8| David|  56|72059.12|      false|        2018-02-06|      Ventas|          1968|
|  9|  Sara|  45|74705.86|      false|        2023-01-02|      Ventas|          1979|
| 10|   Ana|  53|62691.89|      false|        2021-06-16|   Marketing|          1971|
| 11|Miguel|  46|70126.54|       true|        2018-03-14|          IT|          1978|
| 12| David|  27|53608.56|       true|        2014-11-09|        RRHH|          1997|
| 13| Laura|  23|57455.18|      false|        2021-03-08|    Finanzas|          2001|
| 14| Pedro|  33|20602.28|      false|        2024-03-12|          IT|          1991|
| 15| María|  22|57444.64|      false|        2017-10-22|    Finanzas|          2002|
| 16|  Sara|  50|32029.18|      false|        2022-01-13|        RRHH|          1974|
| 17|   Ana|  53| 21659.3|       true|        2018-01-19|    Finanzas|          1971|
| 18|  Sara|  28|30491.18|       true|        2015-12-13|      Ventas|          1996|
| 19| María|  26|61548.89|      false|        2015-11-03|        RRHH|          1998|
| 20| Pedro|  27|59899.06|      false|        2015-02-25|          IT|          1997|
+---+------+----+--------+-----------+------------------+------------+--------------+
only showing top 20 rows

### Filter

Podemos filtrar los datos de acuerdo a alguna condición especificada. Esta sentencia se corresponde con el comando `WHERE` en SQL. Por ejemplo, queremos obtener únicamente los datos de los empleados. 

Recordemos que en Python el operador de igualdad es `==`.

Para poder realizar operaciones con columnas, necesitamos especificar que se trata de una columna del DataFrame haciendo uso de la función `col`, puesto que si no lo que estaríamos es comparando un string con un booleano (`"es_empleado" == True`), que será siempre igual a `False`.

In [8]:
df.filter(f.col("es_empleado") == True)

# Si hacemos df.filter("es_empleado" == True) obtendremos un error porque los tipos no son los esperados.

+---+------+----+--------+-----------+------------------+------------+
| id|nombre|edad| salario|es_empleado|fecha_contratacion|departamento|
+---+------+----+--------+-----------+------------------+------------+
|  1|  Luis|  48|49281.69|       true|        2021-05-09|    Finanzas|
|  2|  Juan|  26|49055.36|       true|        2021-07-27|      Ventas|
|  3|  Luis|  24|73947.68|       true|        2023-03-28|    Finanzas|
|  5|Miguel|  31|62027.07|       true|        2022-10-27|    Finanzas|
| 11|Miguel|  46|70126.54|       true|        2018-03-14|          IT|
| 12| David|  27|53608.56|       true|        2014-11-09|        RRHH|
| 17|   Ana|  53| 21659.3|       true|        2018-01-19|    Finanzas|
| 18|  Sara|  28|30491.18|       true|        2015-12-13|      Ventas|
| 23| Carla|  50|73172.89|       true|        2015-08-21|          IT|
| 25|  Sara|  59|59973.55|       true|        2018-04-23|   Marketing|
| 29|Miguel|  37|69922.06|       true|        2023-10-26|    Finanzas|
| 30|  Luis|  27|70247.43|       true|        2020-05-23|    Finanzas|
+---+------+----+--------+-----------+------------------+------------+

### Agrupaciones

Utilizando el comando group by, podemos agrupar nuestro dataset según los valores de una o varias columnas y posteriormente realizar una operación de agregación sobre cada conjunto, para así obtener estadísticas descriptivas de nuestros datos.

Por ejemplo, podemos obtener el número de empleados en marketing, con lo cual debemos agrupar por departamento y realizar una operación de agregación de suma. Estas operaciones se denominan "de agregación" o "de reducción" porque actúan sobre un conjunto de filas (todas aquellas que comparten el mismo valor del grupo) y devuelven un único valor

In [9]:
df.groupBy("departamento").agg(f.sum("salario").alias("salario_total"))

+------------+----------------+
|departamento|   salario_total|
+------------+----------------+
|    Finanzas| 524206.53515625|
|      Ventas|  421618.7890625|
|        RRHH| 292734.91015625|
|          IT|355377.107421875|
|   Marketing| 122665.44140625|
+------------+----------------+

### Combinaciones
Naturalmente, la riqueza de PySpark es que podemos combinar filtros con agrupaciones, adición de columnas, cambios de tipos, etc para que nuestro dato final quede pulido.

Al contrario que en Pandas, todas las operaciones de transformación en Spark son *lazy*, es decir, no se evalúan hasta que se pide una acción (resultado). Esto permite que el catalizador de Spark optimice toda la cadena de consultas de la manera más apropiada antes de ser ejecutadas.

Veamos un ejemplo de consulta algo más avanzada: supongamos que queremos conocer cuál es el departamento del que más gente se ha ido a partir de 2017 para unos ciertos intervalos de meses: enero a mayo, junio a septiembre y octubre a diciembre. En este caso podemos comenzar aplicando unos filtros para quedarnos únicamente con registros de los que actualmente ya no son empleados y su fecha de contratación es igual o posterior a 2017. Después de aplicar dicho filtro, podemos añadir dos columnas transitorias para extraer el mes de la fecha de contratación y establecer los intervalos pedidos, utilizando la función `when`, que es esquivalente al `CASE` de SQL. Finalmente, agrupamos por estas categorías de mes y agregamos cogiendo la moda (el valor más repetido de un conjunto de datos).

In [10]:
df.filter(
    (f.col("es_empleado") == False) & (f.year("fecha_contratacion") >= 2017)
).withColumn("mes_contratacion", f.month("fecha_contratacion")).withColumn(
    "categoria_mes",
    f.when(f.col("mes_contratacion").between(1, 5), f.lit("enero-mayo"))
    .when(f.col("mes_contratacion").between(6, 9), f.lit("junio-septiembre"))
    .otherwise(f.lit("octubre-diciembre")),
).groupBy(
    "categoria_mes"
).agg(
    f.mode("departamento").alias("departamento_mas_repetido")
)

+-----------------+-------------------------+
|    categoria_mes|departamento_mas_repetido|
+-----------------+-------------------------+
|octubre-diciembre|                     RRHH|
| junio-septiembre|                Marketing|
|       enero-mayo|                   Ventas|
+-----------------+-------------------------+

La consulta equivalente en Spark SQL en este caso sería la siguiente

In [11]:
spark.sql(
    """
    SELECT
        CASE
            WHEN MONTH(fecha_contratacion) BETWEEN 1 AND 5 THEN 'enero-mayo'
            WHEN MONTH(fecha_contratacion) BETWEEN 6 AND 9 THEN 'junio-septiembre'
            ELSE 'octubre-diciembre'
        END AS categoria_mes,
        MODE(departamento) AS departamento_mas_repetido

    FROM empleados
    WHERE
        es_empleado = false AND
        YEAR(fecha_contratacion) >= 2017
    GROUP BY categoria_mes
    """
)

+-----------------+-------------------------+
|    categoria_mes|departamento_mas_repetido|
+-----------------+-------------------------+
|octubre-diciembre|                     RRHH|
| junio-septiembre|                Marketing|
|       enero-mayo|                   Ventas|
+-----------------+-------------------------+

Como se puede comprobar, se obtienen exactamente los mismos resultados

# Joins
Al igual que las operaciones de transformación, otro comando importante es el de JOIN, que nos permite establecer links entre campos de diferentes columnas, lo cual resulta fundamental para el análisis desde diferentes fuentes de datos.

Un análisis detallado y extenso de los diferentes tipos de Joins en Pyspark puede verse [aquí](https://sparkbyexamples.com/pyspark/pyspark-join-explained-with-examples/).

Esquemáticamente tenemos los siguientes tipos de JOINs:

![tipos de joins](joins.png "Tipos de Joins")

Por poner un ejemplo, creemos un segundo dataframe con información añadida de los departamentos

In [12]:
departamentos = spark.createDataFrame(
    [
        (
            1,
            "Finanzas",
            "Departamento encargado de elaborar informes financieros trimestrales",
        ),
        (
            2,
            "Ventas",
            "Departamento encargado de contactar con proveedores y registrar el stock",
        ),
    ], schema="id int, departamento string, descripcion string"
)
display(departamentos)

+---+------------+------------------------------------------------------------------------+
| id|departamento|                                                             descripcion|
+---+------------+------------------------------------------------------------------------+
|  1|    Finanzas|    Departamento encargado de elaborar informes financieros trimestrales|
|  2|      Ventas|Departamento encargado de contactar con proveedores y registrar el stock|
+---+------------+------------------------------------------------------------------------+

Y ahora vamos a unir nuestra tabla de origen con esta tabla de información extendida por departamento. El campo de unión lógicamente será la columna `"departamento"`.

Empecemos con un INNER JOIN. En este caso, únicamente se mostrarán los departamentos de Finanzas y Ventas, ya que son los únicos registros comunes a ambas tablas (el resto de departamentos no está presente en la tabla `departamentos`)

In [13]:
df.join(departamentos, how="inner", on="departamento")

+------------+---+------+----+--------+-----------+------------------+---+------------------------------------------------------------------------+
|departamento| id|nombre|edad| salario|es_empleado|fecha_contratacion| id|                                                             descripcion|
+------------+---+------+----+--------+-----------+------------------+---+------------------------------------------------------------------------+
|    Finanzas|  1|  Luis|  48|49281.69|       true|        2021-05-09|  1|    Departamento encargado de elaborar informes financieros trimestrales|
|    Finanzas|  3|  Luis|  24|73947.68|       true|        2023-03-28|  1|    Departamento encargado de elaborar informes financieros trimestrales|
|    Finanzas|  5|Miguel|  31|62027.07|       true|        2022-10-27|  1|    Departamento encargado de elaborar informes financieros trimestrales|
|    Finanzas| 13| Laura|  23|57455.18|      false|        2021-03-08|  1|    Departamento encargado de elaborar informes financieros trimestrales|
|    Finanzas| 15| María|  22|57444.64|      false|        2017-10-22|  1|    Departamento encargado de elaborar informes financieros trimestrales|
|    Finanzas| 17|   Ana|  53| 21659.3|       true|        2018-01-19|  1|    Departamento encargado de elaborar informes financieros trimestrales|
|    Finanzas| 22|  Juan|  26|39267.68|      false|        2022-02-16|  1|    Departamento encargado de elaborar informes financieros trimestrales|
|    Finanzas| 26|   Ana|  25| 22953.8|      false|        2018-05-11|  1|    Departamento encargado de elaborar informes financieros trimestrales|
|    Finanzas| 29|Miguel|  37|69922.06|       true|        2023-10-26|  1|    Departamento encargado de elaborar informes financieros trimestrales|
|    Finanzas| 30|  Luis|  27|70247.43|       true|        2020-05-23|  1|    Departamento encargado de elaborar informes financieros trimestrales|
|      Ventas|  2|  Juan|  26|49055.36|       true|        2021-07-27|  2|Departamento encargado de contactar con proveedores y registrar el stock|
|      Ventas|  8| David|  56|72059.12|      false|        2018-02-06|  2|Departamento encargado de contactar con proveedores y registrar el stock|
|      Ventas|  9|  Sara|  45|74705.86|      false|        2023-01-02|  2|Departamento encargado de contactar con proveedores y registrar el stock|
|      Ventas| 18|  Sara|  28|30491.18|       true|        2015-12-13|  2|Departamento encargado de contactar con proveedores y registrar el stock|
|      Ventas| 24| David|  56|62486.47|      false|        2018-02-17|  2|Departamento encargado de contactar con proveedores y registrar el stock|
|      Ventas| 27| Carla|  50|68186.09|      false|        2018-02-04|  2|Departamento encargado de contactar con proveedores y registrar el stock|
|      Ventas| 28|Miguel|  51|64634.71|      false|        2018-05-29|  2|Departamento encargado de contactar con proveedores y registrar el stock|
+------------+---+------+----+--------+-----------+------------------+---+------------------------------------------------------------------------+

Ahora haremos un LEFT JOIN. En este caso se mostrarán todos los registros de la tabla de origen, con todos los departamentos por tanto. Y si existe un departamento equivalente en la tabla derecha, se mostrará también su información adicional. En caso de no existir un match (cuando el departamento no sea el de ventas o finanzas), dicha información adicional será nula

In [14]:
df.join(departamentos, how="left", on="departamento")

+------------+---+------+----+--------+-----------+------------------+----+------------------------------------------------------------------------+
|departamento| id|nombre|edad| salario|es_empleado|fecha_contratacion|  id|                                                             descripcion|
+------------+---+------+----+--------+-----------+------------------+----+------------------------------------------------------------------------+
|    Finanzas|  1|  Luis|  48|49281.69|       true|        2021-05-09|   1|    Departamento encargado de elaborar informes financieros trimestrales|
|    Finanzas|  3|  Luis|  24|73947.68|       true|        2023-03-28|   1|    Departamento encargado de elaborar informes financieros trimestrales|
|      Ventas|  2|  Juan|  26|49055.36|       true|        2021-07-27|   2|Departamento encargado de contactar con proveedores y registrar el stock|
|    Finanzas|  5|Miguel|  31|62027.07|       true|        2022-10-27|   1|    Departamento encargado de elaborar informes financieros trimestrales|
|        RRHH|  4| Pedro|  35|79554.92|      false|        2023-11-29|NULL|                                                                    NULL|
|          IT|  6|  Luis|  44|66505.58|      false|        2023-09-13|NULL|                                                                    NULL|
|          IT|  7| María|  23|65070.76|      false|        2015-12-18|NULL|                                                                    NULL|
|      Ventas|  8| David|  56|72059.12|      false|        2018-02-06|   2|Departamento encargado de contactar con proveedores y registrar el stock|
|      Ventas|  9|  Sara|  45|74705.86|      false|        2023-01-02|   2|Departamento encargado de contactar con proveedores y registrar el stock|
|   Marketing| 10|   Ana|  53|62691.89|      false|        2021-06-16|NULL|                                                                    NULL|
|          IT| 11|Miguel|  46|70126.54|       true|        2018-03-14|NULL|                                                                    NULL|
|    Finanzas| 13| Laura|  23|57455.18|      false|        2021-03-08|   1|    Departamento encargado de elaborar informes financieros trimestrales|
|        RRHH| 12| David|  27|53608.56|       true|        2014-11-09|NULL|                                                                    NULL|
|    Finanzas| 15| María|  22|57444.64|      false|        2017-10-22|   1|    Departamento encargado de elaborar informes financieros trimestrales|
|          IT| 14| Pedro|  33|20602.28|      false|        2024-03-12|NULL|                                                                    NULL|
|        RRHH| 16|  Sara|  50|32029.18|      false|        2022-01-13|NULL|                                                                    NULL|
|    Finanzas| 17|   Ana|  53| 21659.3|       true|        2018-01-19|   1|    Departamento encargado de elaborar informes financieros trimestrales|
|      Ventas| 18|  Sara|  28|30491.18|       true|        2015-12-13|   2|Departamento encargado de contactar con proveedores y registrar el stock|
|          IT| 20| Pedro|  27|59899.06|      false|        2015-02-25|NULL|                                                                    NULL|
|        RRHH| 19| María|  26|61548.89|      false|        2015-11-03|NULL|                                                                    NULL|
+------------+---+------+----+--------+-----------+------------------+----+------------------------------------------------------------------------+
only showing top 20 rows

Por último, veamos el caso del LEFT ANTI JOIN. En este caso, se mostrarán únicamente los registros de la tabla origen que no tienen un match con los de la tabla de departamentos; es decir, aquellos registros del dataframe cuyo departamento no es ventas ni finanzas

In [15]:
df.join(departamentos, how="leftanti", on="departamento")

+------------+---+------+----+--------+-----------+------------------+
|departamento| id|nombre|edad| salario|es_empleado|fecha_contratacion|
+------------+---+------+----+--------+-----------+------------------+
|        RRHH|  4| Pedro|  35|79554.92|      false|        2023-11-29|
|          IT|  6|  Luis|  44|66505.58|      false|        2023-09-13|
|          IT|  7| María|  23|65070.76|      false|        2015-12-18|
|   Marketing| 10|   Ana|  53|62691.89|      false|        2021-06-16|
|          IT| 11|Miguel|  46|70126.54|       true|        2018-03-14|
|        RRHH| 12| David|  27|53608.56|       true|        2014-11-09|
|          IT| 14| Pedro|  33|20602.28|      false|        2024-03-12|
|        RRHH| 16|  Sara|  50|32029.18|      false|        2022-01-13|
|          IT| 20| Pedro|  27|59899.06|      false|        2015-02-25|
|        RRHH| 19| María|  26|61548.89|      false|        2015-11-03|
|        RRHH| 21|  Luis|  46|65993.36|      false|        2022-12-04|
|          IT| 23| Carla|  50|73172.89|       true|        2015-08-21|
|   Marketing| 25|  Sara|  59|59973.55|       true|        2018-04-23|
+------------+---+------+----+--------+-----------+------------------+

# Caso práctico: Extracción de datos de Wallapop
Vamos a construir un pequeño ejemplo de una ETL (Extraction Transform Load). Extraeremos datos en crudo desde la API REST de Wallapop, los guardamos en una carpeta de almacenamiento, los leemos con spark, realizamos algunas transformaciones y almacenamos la tabla resultante en nuestro catálogo de datos

In [16]:
try:
    json_data = fetch_api(product="portátil")
    save_json(obj=json_data, path="data/wallapop.json", indent=4)
except Exception as e:
    print(f"Warning: No ha sido posible descargar los datos de la API: {e}")

Podemos previsualizar cuál es la estructura de nuestro fichero JSON utilizando el comando externo `cat` de nuestra terminal (válido únicamente en sistemas Unix, con `jq` instalado).

Si no está instalado `jq`, puede instalarse mediante `sudo apt update && sudo apt install jq -y`

In [17]:
%%sh
cat data/wallapop.json | jq -C | head -20

{
  "data": {
    "section": {
      "payload": {
        "order": "most_relevance",
        "title": "Find what you want",
        "items": [
          {
            "id": "9jdk4mmm7n6k",
            "user_id": "pj9ydq0n026e",
            "title": "Monitor LG de 19\" para Portatil/Pc",
            "description": "FLATRON L-194LW-SF. Como nuevo. Funcionando  perfectamente. Prueba real a doble pantalla en portatil HP usando el cable DVI-D a HDMI incluido (ver foto), lo que permite disponer de un monitor con conexión a cualquier dispositivo actual con entrada HDMI. Se incluye cable de corriente, 1  cable totalmente nuevo DVI-D a HDMI y los 2 cables originales DVI-D a DVI-D y D-Sub 15 pin a D-Sub 15 pin (valorados los 3 cables en 15 euros aprox.), permitiendo variedad de conexiones. Se incluye también instrucciones en ingles y CD de instalación con drivers y guia de uso.",
            "category_id": 24200,
            "price": {
              "amount": 55,
              "currency": "EUR"
            },
            "images": [
              {
                "average_color": "13C1AC",

Una vez determinada la estructura que tiene nuestro fichero JSON de información, notamos que los datos que queremos obtener se encuentran dentro de la ruta `data -> section -> payload -> items`. Dicha ruta se corresponde con un array (lista) de items, que son los productos de Wallapop; cada uno de ellos tiene unos campos, algunos simples como `id`, `user_id`, y otros compuestos como `price -> amount` o `price -> currency`.

En primer lugar, observemos que si leemos el fichero JSON directamente no obtenemos una estructura muy amigable

*Nota*: el argumento `multiLine=True` se introduce para especificar que el fichero JSON de entrada que estamos tratando de leer abarca múltiples líneas, y no una sola. De esta manera nos evitaremos errores de lectura.

In [18]:
wallapop = spark.read.json("data/wallapop.json", multiLine=True)
wallapop.show(truncate=50)

+--------------------------------------------------+--------------------------------------------------+
|                                              data|                                              meta|
+--------------------------------------------------+--------------------------------------------------+
|{{{[{{none}, 24200, 1727815730476, FLATRON L-19...|{eyJhbGciOiJIUzI1NiJ9.eyJwYXJhbXMiOnsic2VhcmNoU...|
+--------------------------------------------------+--------------------------------------------------+

Esto es porque nos ha cogido las dos primeras claves más externas de nuestro fichero JSON, que son los campos `"data"` y `"meta"`.

Observemos qué estructura hemos cargado haciendo un `printSchema` de nuestro DataFrame. De esta manera obtendremos información de los campos y sus tipos

In [19]:
wallapop.printSchema()

root
 |-- data: struct (nullable = true)
 |    |-- section: struct (nullable = true)
 |    |    |-- payload: struct (nullable = true)
 |    |    |    |-- items: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |-- bump: struct (nullable = true)
 |    |    |    |    |    |    |-- type: string (nullable = true)
 |    |    |    |    |    |-- category_id: long (nullable = true)
 |    |    |    |    |    |-- created_at: long (nullable = true)
 |    |    |    |    |    |-- description: string (nullable = true)
 |    |    |    |    |    |-- discount: struct (nullable = true)
 |    |    |    |    |    |    |-- percentage: long (nullable = true)
 |    |    |    |    |    |    |-- previous_price: struct (nullable = true)
 |    |    |    |    |    |    |    |-- amount: double (nullable = true)
 |    |    |    |    |    |    |    |-- currency: string (nullable = true)
 |    |    |    |    |    |-- favorited: struct (nullable = true)
 |    |    |    |    |    |    |-- flag: boolean (nullable = true)
 |    |    |    |    |    |-- id: string (nullable = true)
 |    |    |    |    |    |-- images: array (nullable = true)
 |    |    |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |    |    |-- average_color: string (nullable = true)
 |    |    |    |    |    |    |    |-- urls: struct (nullable = true)
 |    |    |    |    |    |    |    |    |-- big: string (nullable = true)
 |    |    |    |    |    |    |    |    |-- medium: string (nullable = true)
 |    |    |    |    |    |    |    |    |-- small: string (nullable = true)
 |    |    |    |    |    |-- is_favoriteable: struct (nullable = true)
 |    |    |    |    |    |    |-- flag: boolean (nullable = true)
 |    |    |    |    |    |-- is_refurbished: struct (nullable = true)
 |    |    |    |    |    |    |-- flag: boolean (nullable = true)
 |    |    |    |    |    |-- location: struct (nullable = true)
 |    |    |    |    |    |    |-- city: string (nullable = true)
 |    |    |    |    |    |    |-- country_code: string (nullable = true)
 |    |    |    |    |    |    |-- latitude: double (nullable = true)
 |    |    |    |    |    |    |-- longitude: double (nullable = true)
 |    |    |    |    |    |    |-- postal_code: string (nullable = true)
 |    |    |    |    |    |    |-- region: string (nullable = true)
 |    |    |    |    |    |    |-- region2: string (nullable = true)
 |    |    |    |    |    |-- modified_at: long (nullable = true)
 |    |    |    |    |    |-- price: struct (nullable = true)
 |    |    |    |    |    |    |-- amount: double (nullable = true)
 |    |    |    |    |    |    |-- currency: string (nullable = true)
 |    |    |    |    |    |-- reserved: struct (nullable = true)
 |    |    |    |    |    |    |-- flag: boolean (nullable = true)
 |    |    |    |    |    |-- shipping: struct (nullable = true)
 |    |    |    |    |    |    |-- cost_configuration_id: string (nullable = true)
 |    |    |    |    |    |    |-- item_is_shippable: boolean (nullable = true)
 |    |    |    |    |    |    |-- user_allows_shipping: boolean (nullable = true)
 |    |    |    |    |    |-- taxonomy: array (nullable = true)
 |    |    |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |    |    |-- icon: string (nullable = true)
 |    |    |    |    |    |    |    |-- id: long (nullable = true)
 |    |    |    |    |    |    |    |-- name: string (nullable = true)
 |    |    |    |    |    |-- title: string (nullable = true)
 |    |    |    |    |    |-- user_id: string (nullable = true)
 |    |    |    |    |    |-- web_slug: string (nullable = true)
 |    |    |    |-- order: string (nullable = true)
 |    |    |    |-- title: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |    |-- tracking: struct (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- country_code: string (nullable = true)
 |    |    |    |-- latitude: double (nullable = true)
 |    |    |    |-- longitude: double (nullable = true)
 |    |    |-- variant: string (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- next_page: string (nullable = true)
 |    |-- next_section_type: string (nullable = true)

Ahora, para navegar a través de nuestro fichero JSON, podemos utilizar la sintáxis por puntos; es decir, para obtener el campo deseado `"items"`, que contiene la información de todos los productos, debemos acceder mediante `data.section.payload.items`.

In [20]:
wallapop.select("data.section.payload.items").show(truncate=100)

+----------------------------------------------------------------------------------------------------+
|                                                                                               items|
+----------------------------------------------------------------------------------------------------+
|[{{none}, 24200, 1727815730476, FLATRON L-194LW-SF. Como nuevo. Funcionando  perfectamente. Prueb...|
+----------------------------------------------------------------------------------------------------+

Sin embargo, seguimos sin apreciar una estructura legible. Esto es porque se nos está mostrando un único registro (fila) que contiene toda la información de los productos. Lo que nos interesa es que cada elemento de esta lista se muestre en un registro a parte. Para ello se utiliza la función SQL `explode`, que coge un array de elementos y devuelve un registro por cada uno de esos elementos. Veámoslo

In [21]:
wallapop.select(f.explode("data.section.payload.items")).show(truncate=100)

+----------------------------------------------------------------------------------------------------+
|                                                                                                 col|
+----------------------------------------------------------------------------------------------------+
|{{none}, 24200, 1727815730476, FLATRON L-194LW-SF. Como nuevo. Funcionando  perfectamente. Prueba...|
|{{none}, 24200, 1727776756838, 13 pulgadas usado muy poco. incluye cable mini hdmi. Funciona perf...|
|{{none}, 24200, 1727808065598, Hola vendo portátil con cargador la batería no dura mucho mejor ve...|
|{{none}, 24200, 1727795035144, Impresora instantánea portátil. No necesita tinta, es térmica. Se ...|
|{{none}, 24200, 1727817565933, Portátil Asus X555Q, procesador AMD A12 9700 (4x2.5ghz), tarjeta g...|
|{{none}, 24200, 1727817173345, Nuevo sin uso apenas unas horas,regalo para niño sin usar.Ordenado...|
|{{none}, 24200, 1727816433783, Ordenador portatil morado marca hp con su cargador , NULL, {false}...|
|{{none}, 24200, 1727818970579, Completamente nuevos a estrenar. Disponibles en color plata y gris...|
|{{none}, 24200, 1727803255106, Cargador original de Portátil Acer Extense.\nCompatible con otros ...|
|{{none}, 24200, 1727805066181, Batería para portátil , NULL, {false}, e6582rqkmp6o, [{13C1AC, {ht...|
|{{none}, 24200, 1727804328171, ordenador en miy buen estado, practicamente sin usar, NULL, {false...|
|{{none}, 24200, 1727773791138, Pantalla para portátil sin anclajes de 15,6 HD nueva, NULL, {false...|
|{{none}, 24200, 1727802803659, No se si funciona, no viene con cargador, no va con el disco que s...|
|{{none}, 24200, 1727820410371, Portátil LENOVO 81WQ Intel Celeron N4020, 1.10 GHZ Ram 8GB Windows...|
|{{none}, 24200, 1727800915406, Bateria portatil con USB tipo C. Esta nueva, la compre pero no me ...|
|{{none}, 24200, 1727800578367, Especificaciones HP ProBook 450 G8\n\nProcesador Intel® Core™ i5-1...|
|{{none}, 24200, 1727800795669, en muy buen estado y con cargador, NULL, {false}, mzn2me81pyzn, [{...|
|{{none}, 24200, 1727795708150, Ordenador portátil ASUS con cargador con las siguientes caracterís...|
|{{none}, 24200, 1727717063941, La calidad de impresión es decente con un texto claro oscuro e imp...|
|{{none}, 24200, 1727797940836, Original funda para portátil. \nMedidas: 29x39 cm, NULL, {false}, ...|
+----------------------------------------------------------------------------------------------------+
only showing top 20 rows

Bien, ya hemos avanzado, disponemos ahora de un registro por cada producto de la lista `items`, como queríamos. Sin embargo, se sigue mostrando toda la información en una misma columna. Eso lo solucionamos seleccionando los campos anidados deseados. Por ejemplo, supongamos que queremos coger el `id` del producto, el `user_id` del usuario y la fecha de creación del anuncio `created_at`. Una buena manera de operar sería crear una nueva columna llamada, por ejemplo, `"data"`, que contenga los registros explotados del campo de `"items"`, y luego utilizar este nuevo campo para obtener la info de los otros campos descendientes

In [22]:
wallapop.withColumn("data", f.explode("data.section.payload.items")).select(
    "data.id", "data.user_id", "data.created_at"
)

+------------+------------+-------------+
|          id|     user_id|   created_at|
+------------+------------+-------------+
|9jdk4mmm7n6k|pj9ydq0n026e|1727815730476|
|pzp23woo99j3|k3zlkgn2o26x|1727776756838|
|p6141e5nkx65|3zlgmk2ggnjx|1727808065598|
|36e1gowdeyjd|8ejke1oymrjx|1727795035144|
|8z8k9revldz3|pzpy3k9em9z3|1727817565933|
|8z8k9rrmo1z3|9nz0mvneq7jo|1727817173345|
|nz04x22l73jo|e65yy53okpjo|1727816433783|
|x6qm2nw42yjy|4w6744pq156x|1727818970579|
|qzme1ve5lojv|436epk2ek8jd|1727803255106|
|e6582rqkmp6o|mxzor1kq15z9|1727805066181|
|xzo2odg37w69|wzvyyp7m17zl|1727804328171|
|qzme1pwrpojv|36ewe8xp0n6d|1727773791138|
|e6582r8llm6o|36ewne5w0n6d|1727802803659|
|vjrqvpx304zk|pj9yn8g3oo6e|1727820410371|
|8j34o2ew1269|ejk44lry0pzx|1727800915406|
|e6582rgdxp6o|mxzo8dldr569|1727800578367|
|mzn2me81pyzn|qnzx0l7d9mz2|1727800795669|
|wzv4vky037zl|9jd7nygoenjk|1727795708150|
|wzv4vqy7nrzl|dqjwyqre1gzo|1727717063941|
|ejk8wd9egrjx|g0j2ev557vjy|1727797940836|
+------------+------------+-------------+
only showing top 20 rows

Fenomenal. Ahora, siguiendo esta misma operación, obtendremos un dataset completo tabular de los campos del JSON más relevantes. Observemos que para todos los campos seleccionados, se hace una conversión de tipos (método `cast`) y se asigna un alias (método `alias`). Esto es para que la tabla resultante sea consistente, y tenga siempre el mismo esquema de salida.

Notemos también que a campos que representan fechas pero se muestran como números enteros (milisegundos desde 1970, esto se conoce como UNIX time), como `created_at` o `modified_at`, les aplicamos una conversión mediante la función `from_unixtime` para representarlos como una fecha legible

In [23]:
wallapop = (
    spark.read.json("data/wallapop.json", multiLine=True, primitivesAsString=True)
    .withColumn("data", f.explode("data.section.payload.items"))
    .select(
        f.col("data.id").cast("string").alias("id"),
        f.col("data.title").cast("string").alias("title"),
        f.col("data.user_id").cast("string").alias("user_id"),
        f.col("data.category_id").cast("int").alias("category_id"),
        f.from_unixtime((f.col("data.created_at") / 1000))
        .cast("timestamp")
        .alias("created_at"),
        f.from_unixtime(f.col("data.modified_at") / 1000)
        .cast("timestamp")
        .alias("modified_at"),
        f.col("data.description").cast("string").alias("description"),
        f.col("data.favorited.flag").cast("boolean").alias("favorited"),
        f.col("data.is_favoriteable.flag").cast("boolean").alias("is_favoriteable"),
        f.col("data.is_refurbished.flag").cast("boolean").alias("is_refurbished"),
        f.col("data.location.latitude").cast("double").alias("latitude"),
        f.col("data.location.longitude").cast("double").alias("longitude"),
        f.col("data.location.postal_code").cast("string").alias("postal_code"),
        f.col("data.location.city").cast("string").alias("city"),
        f.col("data.location.region").cast("string").alias("region"),
        f.col("data.location.region2").cast("string").alias("region2"),
        f.col("data.location.country_code").cast("string").alias("country_code"),
        f.col("data.price.amount").cast("double").alias("amount"),
        f.col("data.price.currency").cast("string").alias("currency"),
        f.col("data.reserved.flag").alias("reserved"),
        f.col("data.shipping.item_is_shippable")
        .cast("boolean")
        .alias("item_is_shippable"),
        f.col("data.shipping.user_allows_shipping")
        .cast("boolean")
        .alias("user_allows_shipping"),
        f.current_timestamp().alias("__timestamp"),
    )
)
wallapop.printSchema()
display(wallapop)

root
 |-- id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- category_id: integer (nullable = true)
 |-- created_at: timestamp (nullable = true)
 |-- modified_at: timestamp (nullable = true)
 |-- description: string (nullable = true)
 |-- favorited: boolean (nullable = true)
 |-- is_favoriteable: boolean (nullable = true)
 |-- is_refurbished: boolean (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- city: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region2: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- amount: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- reserved: string (nullable = true)
 |-- item_is_shippable: boolean (nullable = true)
 |-- user_allows_shipping: boolean (nullable = true)
 |-- __timestamp: timestamp (nullable = false)

+------------+------------------------------------------------+------------+-----------+-------------------+-------------------+----------------------------------------------------------------------------------------------------+---------+---------------+--------------+------------------+-------------------+-----------+-----------------------------------+-------------------+-------+------------+------+--------+--------+-----------------+--------------------+--------------------------+
|          id|                                           title|     user_id|category_id|         created_at|        modified_at|                                                                                         description|favorited|is_favoriteable|is_refurbished|          latitude|          longitude|postal_code|                               city|             region|region2|country_code|amount|currency|reserved|item_is_shippable|user_allows_shipping|               __timestamp|
+------------+------------------------------------------------+------------+-----------+-------------------+-------------------+----------------------------------------------------------------------------------------------------+---------+---------------+--------------+------------------+-------------------+-----------+-----------------------------------+-------------------+-------+------------+------+--------+--------+-----------------+--------------------+--------------------------+
|9jdk4mmm7n6k|              Monitor LG de 19" para Portatil/Pc|pj9ydq0n026e|      24200|2024-10-01 22:48:50|2024-10-01 23:02:05|FLATRON L-194LW-SF. Como nuevo. Funcionando  perfectamente. Prueba real a doble pantalla en porta...|    false|           true|         false| 40.42311172329895|  -3.65551552224851|      28028|                             Madrid|Comunidad de Madrid| Madrid|          ES|  55.0|     EUR|   false|             true|               false|2024-10-02 00:43:08.767394|
|pzp23woo99j3|                                Monitor portatil|k3zlkgn2o26x|      24200|2024-10-01 11:59:16|2024-10-01 11:59:26| 13 pulgadas usado muy poco. incluye cable mini hdmi. Funciona perfectamente. Hago envios wallapop. |    false|           true|         false| 40.59448299258544|-3.4906866475115046|      28110|                             Algete|Comunidad de Madrid| Madrid|          ES|  65.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|p6141e5nkx65|                                        Portátil|3zlgmk2ggnjx|      24200|2024-10-01 20:41:05|2024-10-01 20:41:15|                       Hola vendo portátil con cargador la batería no dura mucho mejor ver un saludo|    false|           true|         false|  40.3636519022605| -3.723264264097807|      28041|                             Madrid|Comunidad de Madrid| Madrid|          ES|  40.0|     EUR|   false|             true|               false|2024-10-02 00:43:08.767394|
|36e1gowdeyjd|Impresora instantánea portátil fotos y etiquetas|8ejke1oymrjx|      24200|2024-10-01 17:03:55|2024-10-01 17:04:05|Impresora instantánea portátil. No necesita tinta, es térmica. Se pueden imprimir fotos y etiquet...|    false|           true|         false|40.398622719522706|-3.7328175811627995|      28019|                             Madrid|Comunidad de Madrid| Madrid|          ES|  13.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|8z8k9revldz3|                                   Portátil Asus|pzpy3k9em9z3|      24200|2024-10-01 23:19:25|2024-10-01 23:19:36|Portátil Asus X555Q, procesador AMD A12 9700 (4x2.5ghz), tarjeta gráfica Radeon R7 1gb dedicado, ...|    false|           true|         false| 40.39559819840811| -3.607382424871634|      28032|                             Madrid|Comunidad de Madrid| Madrid|          ES| 170.0|     EUR|   false|             true|               false|2024-10-02 00:43:08.767394|
|8z8k9rrmo1z3|                             Ordenador portátil |9nz0mvneq7jo|      24200|2024-10-01 23:12:53|2024-10-01 23:13:03|Nuevo sin uso apenas unas horas,regalo para niño sin usar.Ordenador Chuwi potente y rápido Almace...|    false|           true|         false| 40.33770830097314|-3.7815546218248604|      28918|                            Leganés|Comunidad de Madrid| Madrid|          ES| 225.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|nz04x22l73jo|                             ORDENADOR PORTATIL |e65yy53okpjo|      24200|2024-10-01 23:00:33|2024-10-01 23:01:15|                                                 Ordenador portatil morado marca hp con su cargador |    false|           true|         false| 40.58392659912069|-3.9984050529940465|      28260|                          Galapagar|Comunidad de Madrid| Madrid|          ES| 200.0|     EUR|   false|             true|               false|2024-10-02 00:43:08.767394|
|x6qm2nw42yjy|                     Base Plegable para portátil|4w6744pq156x|      24200|2024-10-01 23:42:50|2024-10-01 23:43:00|Completamente nuevos a estrenar. Disponibles en color plata y gris espacial.\n\nIdeal para mejora...|    false|           true|         false|         40.289204|          -3.819584|      28943|                        Fuenlabrada|Comunidad de Madrid| Madrid|          ES|  12.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|qzme1ve5lojv|                              Cargador portátil |436epk2ek8jd|      24200|2024-10-01 19:20:55|2024-10-01 19:21:05|                          Cargador original de Portátil Acer Extense.\nCompatible con otros modelos |    false|           true|         false|40.389077633884696|-3.7438077768118725|      28047|                             Madrid|Comunidad de Madrid| Madrid|          ES|  10.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|e6582rqkmp6o|                          Batería para portátil |mxzor1kq15z9|      24200|2024-10-01 19:51:06|2024-10-01 19:53:39|                                                                              Batería para portátil |    false|           true|         false| 40.64775661487887|-3.7868335211563586|      28770|                     Colmenar Viejo|Comunidad de Madrid| Madrid|          ES|  20.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|xzo2odg37w69|                              Ordenador portatil|wzvyyp7m17zl|      24200|2024-10-01 19:38:48|2024-10-01 19:38:58|                                                ordenador en miy buen estado, practicamente sin usar|    false|           true|         false| 40.50977987302981| -3.890518419009281|      28230|                Las Rozas de Madrid|Comunidad de Madrid| Madrid|          ES| 150.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|qzme1pwrpojv|  Pantalla para portátil sin anclajes de 15,6 HD|36ewe8xp0n6d|      24200|2024-10-01 11:09:51|2024-10-01 11:12:13|                                                Pantalla para portátil sin anclajes de 15,6 HD nueva|    false|           true|         false| 40.45644037219361| -3.703880905073141|      28020|                             Madrid|Comunidad de Madrid| Madrid|          ES|  20.0|     EUR|    true|             true|                true|2024-10-02 00:43:08.767394|
|e6582r8llm6o|                                    DAD portatil|36ewne5w0n6d|      24200|2024-10-01 19:13:23|2024-10-01 19:13:38|                No se si funciona, no viene con cargador, no va con el disco que se ve en las fotos.|    false|           true|         false| 40.37293760915915|-3.5927043753672905|      28031|                             Madrid|Comunidad de Madrid| Madrid|          ES|  20.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|vjrqvpx304zk|                            Portátil LENOVO 81WQ|pj9yn8g3oo6e|      24200|2024-10-02 00:06:50|2024-10-02 00:07:00|Portátil LENOVO 81WQ Intel Celeron N4020, 1.10 GHZ Ram 8GB Windows 11 home. Con apertura de panta...|    false|           true|         false| 40.13497708386232|-3.8453300549424254|      45200|                           Illescas| Castilla-La Mancha| Toledo|          ES| 205.0|     EUR|   false|             true|               false|2024-10-02 00:43:08.767394|
|8j34o2ew1269|                               Bateria portatil |ejk44lry0pzx|      24200|2024-10-01 18:41:55|2024-10-01 18:42:05|Bateria portatil con USB tipo C. Esta nueva, la compre pero no me vale puesto que mi iPhone no ti...|    false|           true|         false| 40.35015184751012|-3.8190701588517504|      28924|                           Alcorcón|Comunidad de Madrid| Madrid|          ES|  23.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|e6582rgdxp6o|                                     Portatil HP|mxzo8dldr569|      24200|2024-10-01 18:36:18|2024-10-01 18:36:28|Especificaciones HP ProBook 450 G8\n\nProcesador Intel® Core™ i5-1135G7 (4 núcleos, hasta 4.2 GHz...|    false|           true|         false|40.548974218889356|-3.6485371906748405|      28100|                         Alcobendas|Comunidad de Madrid| Madrid|          ES| 500.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|mzn2me81pyzn|                                     portatil hp|qnzx0l7d9mz2|      24200|2024-10-01 18:39:55|2024-10-01 18:40:05|                                                                   en muy buen estado y con cargador|    false|           true|         false|40.455373578732555|-3.4607000547694713|      28851|Mercado Parque Corredor del Henares|Comunidad de Madrid| Madrid|          ES|  50.0|     EUR|   false|             true|               false|2024-10-02 00:43:08.767394|
|wzv4vky037zl|                                        Portatil|9jd7nygoenjk|      24200|2024-10-01 17:15:08|2024-10-01 17:15:18|Ordenador portátil ASUS con cargador con las siguientes características:4GB Ram DDR3,AMD E1-7010 ...|    false|           true|         false| 39.96758716719902|  -4.83254988037358|      45600|               Talavera de la Reina| Castilla-La Mancha| Toledo|          ES| 250.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|wzv4vqy7nrzl|                              Impresora portátil|dqjwyqre1gzo|      24200|2024-09-30 19:24:23|2024-10-01 18:26:14|La calidad de impresión es decente con un texto claro oscuro e impermeable legiblemente en archiv...|    false|           true|         false|        40.0866331|         -3.8630442|      45210|                             Yuncos| Castilla-La Mancha| Toledo|          ES|119.99|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
|ejk8wd9egrjx|                             Funda para portátil|g0j2ev557vjy|      24200|2024-10-01 17:52:20|2024-10-01 17:52:31|                                                   Original funda para portátil. \nMedidas: 29x39 cm|    false|           true|         false|  40.3196648025162|-3.7302172522495054|      28907|                             Getafe|Comunidad de Madrid| Madrid|          ES|   5.0|     EUR|   false|             true|                true|2024-10-02 00:43:08.767394|
+------------+------------------------------------------------+------------+-----------+-------------------+-------------------+----------------------------------------------------------------------------------------------------+---------+---------------+--------------+------------------+-------------------+-----------+-----------------------------------+-------------------+-------+------------+------+--------+--------+-----------------+--------------------+--------------------------+
only showing top 20 rows

Genial, ya hemos leído y transformado nuestro set de datos inicialmente desestructurado en una tabla bien estructurada, con unos campos y tipos fijados.

Ahora, para completar la ETL, almacenaremos esta tabla en el catálogo de datos de Spark. En este caso, al estar trabajando de manera local, dicho catálogo de datos estará localizado en esta misma ruta (`metastore_db/`, `spark-warehouse/`, `derby.log`), sin embargo, cuando trabajemos en un entorno corporativo, habitualmente el catálogo de datos se alojará en una arquitectura cloud, como AWS, Azure, GCP, Databricks, etc.

Aunque no es necesario, es una buena práctica crear en primera instancia la tabla Delta sobre la que escribiremos nuestro dataset, con un schema concreto, metadatos, etc.

In [24]:
dt = (
    DeltaTable.createIfNotExists(spark)
    .addColumns(wallapop.schema)
    .tableName("wallapop")
    .comment("Tabla de productos de Wallapop")
    .execute()
)

24/10/02 00:43:09 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/10/02 00:43:09 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
24/10/02 00:43:11 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
24/10/02 00:43:11 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore dadiego@127.0.1.1
24/10/02 00:43:11 WARN ObjectStore: Failed to get database default, returning NoSuchObjectException
24/10/02 00:43:12 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider delta. Persisting data source table `spark_catalog`.`default`.`wallapop` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.
24/10/02 00:43:12 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
24/10/02 00:43:12 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
24/10/02 00:43:12 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/10/02 00:43:12 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

Con el método `createIfNotExists` estamos indicando que cree únicamente la tabla en el catálogo de datos si esta no existía previamente.

Una vez creada la tabla, insertaremos los datos de nuestro DataFrame mediante una operación `merge`. Para ello, identificamos en primer lugar cuáles son los campos que consituyen una clave primaria en la tabla, es decir, un identificador único de cada registro. En este caso, podríamos utilizar por ejemplo la combinación `"id"`, `"user_id"`; cuando estos campos coincidan entre la tabla fuente y la tabla destino, actualizaremos los registros en el destino, y cuando no coincidan, insertaremos los registros de la fuente en el destino. Esto lo podemos hacer utilizando los métodos del objeto `DeltaTable` dentro de la librería externa `delta-spark` que tenemos instalada en nuestro entorno virtual de Python.

In [25]:
(
    dt.alias("target")
    .merge(
        wallapop.alias("source"),
        "source.id = target.id AND source.user_id = target.user_id",
    )
    .whenMatchedUpdateAll()
    .whenNotMatchedInsertAll()
    .execute()
)

24/10/02 00:43:13 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Cabe mencionar que también podríamos haber creado la tabla directamente a partir del DataFrame de spark, mediante la siguiente instrucción:
```
wallapop.write.format("delta").mode("overwrite").saveAsTable("wallapop")
```

Ya hemos creado la tabla delta y hemos insertado los registros tabulados de la API de Wallapop en la misma. Ahora podemos consultar el catálogo mediante SQL.

Primero, utilizaremos una función auxiliar de nuestro propio paquete de Python creado (`blackops`), llamada `get_detailed_tables_info`, para obtener información detallada de todas las tablas de nuestro catálogo de datos

In [26]:
get_detailed_tables_info(spark)

24/10/02 00:43:17 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

+---------+---------+---+-------------+------------------------------+-----------+-----------------------------+--------+------------------------------------------------+-----------+----------------------------------------------------------------------------------------------------+---------------------------------------------------------+-------+------------------+--------+--------------------------------------------------+---------+-------+
|namespace|tableName|   |      Catalog|                       Comment| Created By|                 Created Time|Database|                                     InputFormat|Last Access|                                                                                            Location|                                             OutputFormat|  Owner|Partition Provider|Provider|                                     Serde Library|    Table|   Type|
+---------+---------+---+-------------+------------------------------+-----------+-----------------------------+--------+------------------------------------------------+-----------+----------------------------------------------------------------------------------------------------+---------------------------------------------------------+-------+------------------+--------+--------------------------------------------------+---------+-------+
|         |empleados|   |         NULL|                          NULL|     Spark |Wed Oct 02 00:42:53 CEST 2024|    NULL|                                            NULL|    UNKNOWN|                                                                                                NULL|                                                     NULL|   NULL|              NULL|    NULL|                                              NULL|empleados|   VIEW|
|  default| wallapop|   |spark_catalog|Tabla de productos de Wallapop|Spark 3.5.3|Wed Oct 02 00:43:12 CEST 2024| default|org.apache.hadoop.mapred.SequenceFileInputFormat|    UNKNOWN|file:/home/dadiego/projects/ESIC/esic-bigdata-iv-blackops/notebooks/tema-2-etl/spark-warehouse/wa...|org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat|dadiego|           Catalog|   delta|org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe| wallapop|MANAGED|
+---------+---------+---+-------------+------------------------------+-----------+-----------------------------+--------+------------------------------------------------+-----------+----------------------------------------------------------------------------------------------------+---------------------------------------------------------+-------+------------------+--------+--------------------------------------------------+---------+-------+

Podemos obtener información concreta de nuestra tabla recién creada, `wallapop`

In [27]:
dt.detail()

+------+------------------------------------+------------------------------+------------------------------+----------------------------------------------------------------------------------------------------+---------------------+-----------------------+----------------+-----------------+--------+-----------+----------+----------------+----------------+------------------------+
|format|                                  id|                          name|                   description|                                                                                            location|            createdAt|           lastModified|partitionColumns|clusteringColumns|numFiles|sizeInBytes|properties|minReaderVersion|minWriterVersion|           tableFeatures|
+------+------------------------------------+------------------------------+------------------------------+----------------------------------------------------------------------------------------------------+---------------------+-----------------------+----------------+-----------------+--------+-----------+----------+----------------+----------------+------------------------+
| delta|ac6db2b1-45db-49ab-bb67-587b339f4f62|spark_catalog.default.wallapop|Tabla de productos de Wallapop|file:/home/dadiego/projects/ESIC/esic-bigdata-iv-blackops/notebooks/tema-2-etl/spark-warehouse/wa...|2024-10-02 00:43:11.7|2024-10-02 00:43:16.873|              []|               []|       1|      15573|        {}|               1|               2|[appendOnly, invariants]|
+------+------------------------------------+------------------------------+------------------------------+----------------------------------------------------------------------------------------------------+---------------------+-----------------------+----------------+-----------------+--------+-----------+----------+----------------+----------------+------------------------+

También podemos obtener una traza histórica de las veces que esta tabla se ha modificado, lo cual es enormemente útil de cara a disponer de un gobierno del dato escalable y robusto

In [28]:
dt.history()

+-------+-----------------------+------+--------+------------+----------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|              timestamp|userId|userName|   operation|                                                                                 operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|                                                                                    operationMetrics|userMetadata|                         engineInfo|
+-------+-----------------------+------+--------+------------+----------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|      1|2024-10-02 00:43:16.873|  NULL|    NULL|       MERGE|{predicate -> ["((id#906 = id#1212) AND (user_id#908 = user_id#1214))"], matchedPredicates -> [{"...|NULL|    NULL|     NULL|          0|  Serializable|        false|{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, numTargetBytesAdd...|        NULL|Apache-Spark/3.5.3 Delta-Lake/3.2.0|
|      0| 2024-10-02 00:43:11.88|  NULL|    NULL|CREATE TABLE|{partitionBy -> [], clusterBy -> [], description -> Tabla de productos de Wallapop, isManaged -> ...|NULL|    NULL|     NULL|       NULL|  Serializable|         true|                                                                                                  {}|        NULL|Apache-Spark/3.5.3 Delta-Lake/3.2.0|
+-------+-----------------------+------+--------+------------+----------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------+------------+-----------------------------------+

Vemos como en el histórico aparecen las dos operaciones que hemos ejecutado sobre esta tabla Delta: la operación de creación de la tabla, y la operación de merge para insertar los nuevos datos.

Podemos también ejecutar cualquier operación SQL con esta tabla del catálogo. Por ejemplo, veamos una tabla resumen de cuántos productos existen por comunidad y código postal, ordenada de mayor a menor cantidad de productos

In [29]:
spark.sql(
    "select region, postal_code, count(*) as n_products from wallapop group by region, postal_code order by n_products desc limit 15"
)

+-------------------+-----------+----------+
|             region|postal_code|n_products|
+-------------------+-----------+----------+
|Comunidad de Madrid|      28047|         3|
| Castilla-La Mancha|      45200|         2|
|Comunidad de Madrid|      28020|         2|
|Comunidad de Madrid|      28523|         2|
|Comunidad de Madrid|      28770|         2|
|Comunidad de Madrid|      28018|         2|
|Comunidad de Madrid|      28260|         2|
| Castilla-La Mancha|      45210|         1|
|Comunidad de Madrid|      28921|         1|
|Comunidad de Madrid|      28014|         1|
|Comunidad de Madrid|      28041|         1|
| Castilla-La Mancha|      45600|         1|
| Castilla-La Mancha|      45003|         1|
|Comunidad de Madrid|      28110|         1|
|Comunidad de Madrid|      28924|         1|
+-------------------+-----------+----------+